Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, upload:helm-chart, upload:readme

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git:latest
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "${CI_SERVER_HOST}" >>~/.ssh/known_hosts
  - echo "${REPOSITORY_SSH_KEY}" >~/.ssh/id_rsa
  - chmod 400 ~/.ssh/id_rsa
  ...

upload:helm-chart:
  stage: upload
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - apk add --no-cache curl yq jq git openssh-client
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H 'gitlab.com' >> ~/.ssh/known_hosts
  ...

upload:readme:
  stage: upload
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - apk add --no-cache python3 git openssh-client
  - go install github.com/norwoodj/helm-docs/cmd/helm-docs
  - pip install pre-commit
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  ...

Merge .gitlab-ci.yml from "807a0d09"
  .gitlab-ci.yml
Due: synchronize:pipeline

remove pre-commit + fix commit issue
  .gitlab-ci.yml
  .pre-commit-config.yaml
  coog-helm-charts.iml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "61259eb9"
  .gitlab-ci.yml
Due: synchronize:pipeline

Fix git add issue for helm-docs
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "88de4446"
  .gitlab-ci.yml
Due: synchronize:pipeline

fix git push for doc
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "0046ee9c"
  .gitlab-ci.yml
Due: synchronize:pipeline

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

Add check for upload:readme's job
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "fcf4a5f7"
  .gitlab-ci.yml
Due: synchronize:pipeline

Setup pipeline to synchronize our chart with Coreye
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "8d55ac85"
  .gitlab-ci.yml
Due: synchronize:pipeline

Celery: add default schedule value (#19293)
  coog/templates/celery/daily_cron.yaml
Due: none

Package 2.15.2204
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Generate README for charts with helm-docs
  coog/README.md
Due: none

pipeline: fix typo
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "aaf166be"
  .gitlab-ci.yml
Due: synchronize:pipeline

Package 2.14.2204
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml
  upload:helm-chart: any of: **/Chart.yaml
  upload:readme: any of: **/Chart.yaml
