Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "dffd8011"
  .gitlab-ci.yml
  .gitlab/scripts/bash/package_helm_chart.bash
Due: synchronize:pipeline

Update version from 2229-1 to 2229-3 (no change, just to sync with coreye)
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "0ea98d40"
  .gitlab-ci.yml
Due: synchronize:pipeline

save (amelioration de la conf des ingress)
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  new/deployment.yaml
  new/templates/coog/deployment.yaml
  new/templates/coog/ingress.yaml
  new/templates/coog/secret-database.yml
  new/templates/coog/secret.yaml
  new/values.yaml
Due: lint:helm-chart

save (review adrien)
  coog/requirements.yaml
  coog/templates/celery/deployment.yaml
  coog/values_secrets.yaml
  deployment.yaml
  new/deployment.yaml
  new/requirements.yaml
  new/templates/_helpers.tpl
  new/templates/celery/configmap.yaml
  new/templates/celery/deployment.yaml
  new/templates/celery/service.yaml
  new/templates/coog/configmap.yaml
  new/templates/coog/ingress.yaml
  new/templates/coog/quota.yaml
  new/templates/coog/secret-database.yml
  new/templates/coog/secret.yaml
  new/templates/coog/service.yaml
  new/values.yaml
  new/values_secrets.yaml
Due: lint:helm-chart

Chart: Fix missing configuration from coog in cron deployment
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

Chart: Fix missing configuration from coog in cron deployment (#48)
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

Chart: Fix missing configuration from coog in cron deployment (#48) (#49)
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

save (centralize liveness, readiness + add startupProbe + format deployment + move coog folder to root templates + copy static and clean static and celery in value file)
  coog/templates/cron/deployment.yaml
  new/deployment.yaml
  new/templates/_helpers.tpl
  new/templates/celery/deployment.yaml
  new/templates/celery/service.yaml
  new/templates/configmap.yaml
  new/templates/coog-pvc.yaml
  new/templates/deployment.yaml
  new/templates/ingress.yaml
  new/templates/quota.yaml
  new/templates/secret-database.yml
  new/templates/secret.yaml
  new/templates/service.yaml
  new/templates/static/deployment.yaml
  new/templates/static/ingress.yaml
  new/templates/static/service.yaml
  new/values.yaml
  new/values_secrets.yaml
Due: lint:helm-chart

Generate 2230
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Packaging 2.10.2230
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2230
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.30.2230
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2230
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2230
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2230
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  flower/README.md
Due: none

Packaging 22.14.2231
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2231
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2231
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2231
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2231
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.31.2231
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml
