Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

simplification de la gestion des variables + configuration de cron + update values
  coog/templates/cron/deployment.yaml
  new/deployment.yaml
  new/templates/configmap.yaml
  new/templates/coog-pvc.yaml
  new/templates/cron/configmap.yaml
  new/templates/cron/deployment.yaml
  new/templates/cron/service.yaml
  new/templates/deployment.yaml
  new/templates/gateway/deployment.yaml
  new/templates/gateway/ingress.yaml
  new/templates/gateway/secrets.yaml
  new/templates/gateway/service.yaml
  new/templates/secret.yaml
  new/values.yaml
Due: lint:helm-chart

coog: add extraEnv configuration for TRYTOND_TZ: Europe/Paris #24005
  coog/values.yaml
Due: lint:helm-chart

Update runAsUser + update component name to match with the Kubernetes pattern
  coog/README.md
  coog/templates/api-b2b-config/deployment.yaml
  coog/templates/api-b2b-config/service.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-b2c/service.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-identity-manager/service.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api-referential/service.yaml
  coog/templates/api/deployment.yaml
  coog/templates/app-b2c/deployment.yaml
  coog/templates/app-b2c/ingress.yaml
  coog/templates/app-b2c/service.yaml
  coog/templates/batch/migquottosr_job.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-backend/service.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/customer-frontend/service.yaml
  coog/templates/portal/deployment.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/portal/service.yaml
  coog/templates/unoconv/deployment.yaml
  coog/templates/web/deployment.yaml
  coog/values.yaml
  new/templates/celery/deployment.yaml
  new/templates/cron/deployment.yaml
  new/templates/deployment.yaml
  new/templates/gateway/deployment.yaml
  new/templates/static/deployment.yaml
  new/values.yaml
Due: lint:helm-chart

setup api-identity-manager
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-identity-manager/service.yaml
  new/templates/api-identity-manager/deployment.yaml
  new/templates/api-identity-manager/service.yaml
  new/templates/gateway/configmap-frontcore.yaml
  new/templates/gateway/configmap.yaml
  new/values.yaml
Due: lint:helm-chart

api-identity-manager: add securityContext configuration to fix helm template check
  new/deployment.yaml
  new/values.yaml
Due: lint:helm-chart

mongodb: add comments
  new/values_secrets.yaml
Due: lint:helm-chart

add configmap for api-identity-manager
  new/deployment.yaml
  new/templates/api-identity-manager/configmap.yaml
  new/values.yaml
Due: lint:helm-chart

add comment for config parameter
  new/values.yaml
Due: lint:helm-chart

update database name
  new/values_secrets.yaml
Due: lint:helm-chart

api-identity-manager: fix strategy type paramater
  new/templates/api-identity-manager/deployment.yaml
Due: lint:helm-chart

b2b: configure b2b (change portal to b2b)
  new/deployment.yaml
  new/templates/b2b/deployment.yaml
  new/templates/b2b/ingress.yaml
  new/templates/b2b/service.yaml
  new/values.yaml
Due: lint:helm-chart

maintenanceMode: setup
  coog/templates/maintenance/daemonset.yml
  new/templates/maintenance/configmap.yaml
  new/templates/maintenance/daemonset.yml
  new/templates/maintenance/service.yml
  new/values.yaml
Due: lint:helm-chart

setup apiB2c + fix some variable configuration for postgresql + user / id missing + parse mongodb configuration
  coog/templates/api-b2c/deployment.yaml
  new/templates/api-b2c/configmap.yaml
  new/templates/api-b2c/deployment.yaml
  new/templates/api-b2c/secrets.yaml
  new/templates/api-b2c/service.yaml
  new/templates/configmap.yaml
  new/templates/gateway/configmap-frontcore.yaml
  new/values.yaml
  new/values_secrets.yaml
Due: lint:helm-chart

configure web + remove apiB2bconfig
  coog/templates/api-b2b-config/deployment.yaml
  coog/templates/web/deployment.yaml
  coog/templates/web/ingress.yaml
  coog/templates/web/service.yaml
  new/deployment.yaml
  new/templates/api-b2c/deployment.yaml
  new/templates/api-identity-manager/configmap.yaml
  new/templates/api-identity-manager/deployment.yaml
  new/templates/api-identity-manager/service.yaml
  new/templates/api/configmap.yaml
  new/templates/api/deployment.yaml
  new/templates/api/service.yaml
  new/templates/b2b/deployment.yaml
  new/templates/cron/deployment.yaml
  new/templates/gateway/configmap-frontcore.yaml
  new/templates/gateway/configmap.yaml
  new/templates/gateway/deployment.yaml
  new/templates/gateway/ingress.yaml
  new/templates/gateway/secret-mongodb.yaml
  new/templates/gateway/secrets.yaml
  new/templates/gateway/service.yaml
  new/templates/web/configmap.yaml
  new/templates/web/deployment.yaml
  new/templates/web/secret-mongodb.yaml
  new/templates/web/service.yaml
  new/values.yaml
Due: lint:helm-chart

rename app-b2c to b2c
  coog/README.md
  coog/templates/b2c/deployment.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/b2c/service.yaml
  coog/values.yaml
  new/templates/api-b2c/configmap.yaml
  new/templates/api-b2c/deployment.yaml
  new/templates/api-b2c/secrets.yaml
  new/templates/api-b2c/service.yaml
  new/templates/api-identity-manager/configmap.yaml
  new/templates/api-identity-manager/deployment.yaml
  new/templates/api-identity-manager/service.yaml
  new/templates/api/configmap.yaml
  new/templates/api/deployment.yaml
  new/templates/api/service.yaml
  new/templates/gateway/configmap-frontcore.yaml
  new/templates/gateway/configmap.yaml
  new/templates/gateway/deployment.yaml
  new/templates/gateway/ingress.yaml
  new/templates/gateway/secret-mongodb.yaml
  new/templates/gateway/secrets-frontcore.yaml
  new/templates/gateway/secrets.yaml
  new/templates/gateway/service.yaml
  new/templates/web/secret-mongodb.yaml
  new/values.yaml
Due: lint:helm-chart

configure b2c
  coog/templates/b2c/deployment.yaml
  coog/templates/b2c/ingress.yaml
  new/deployment.yaml
  new/templates/_helpers.tpl
  new/templates/api-b2c/configmap.yaml
  new/templates/api-b2c/deployment.yaml
  new/templates/api-b2c/secrets.yaml
  new/templates/api-b2c/service.yaml
  new/templates/b2c/deployment.yaml
  new/templates/b2c/ingress.yaml
  new/templates/b2c/service.yaml
  new/values.yaml
Due: lint:helm-chart

setup libroconv + rename unoconv to libroconv + remove prtotocol configuration (which is by default the same thing)
  coog/CHANGELOG.md
  coog/README.md
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/unoconv/deployment.yaml
  coog/values.yaml
  new/deployment.yaml
  new/templates/api-b2c/deployment.yaml
  new/templates/api-identity-manager/deployment.yaml
  new/templates/api/deployment.yaml
  new/templates/b2b/deployment.yaml
  new/templates/b2c/deployment.yaml
  new/templates/celery/deployment.yaml
  new/templates/configmap.yaml
  new/templates/cron/deployment.yaml
  new/templates/deployment.yaml
  new/templates/gateway/deployment.yaml
  new/templates/libroconv/deployment.yaml
  new/templates/libroconv/service.yaml
  new/templates/maintenance/daemonset.yml
  new/templates/static/deployment.yaml
  new/templates/web/deployment.yaml
  new/values.yaml
Due: lint:helm-chart

libroconv: fix template error
  new/deployment.yaml
Due: lint:helm-chart

fix libroconv error
  new/values.yaml
Due: lint:helm-chart

coog: fix libroconv url
  new/templates/configmap.yaml
Due: lint:helm-chart

api-referential: setup
  coog/templates/api-referential/deployment.yaml
  new/deployment.yaml
  new/templates/api-referential/configmap.yaml
  new/templates/api-referential/deployment.yaml
  new/templates/api-referential/service.yaml
  new/values.yaml
Due: lint:helm-chart

setup customerFrontend and customerBackend + add condition on secrets and configmap without hard coded variables
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/customer-frontend/ingress.yaml
  new/deployment.yaml
  new/templates/api-identity-manager/configmap.yaml
  new/templates/customer-backend/configmap.yaml
  new/templates/customer-backend/deployment.yaml
  new/templates/customer-backend/ingress.yaml
  new/templates/customer-backend/secrets.yaml
  new/templates/customer-backend/service.yaml
  new/templates/customer-frontend/configmap.yaml
  new/templates/customer-frontend/deployment.yaml
  new/templates/customer-frontend/ingress.yaml
  new/templates/customer-frontend/secrets.yaml
  new/templates/customer-frontend/service.yaml
  new/templates/maintenance/configmap.yaml
  new/values.yaml
  new/values_secrets.yaml
Due: lint:helm-chart

remove test file
  coog/deployment.yaml
Due: lint:helm-chart

update values
  coog/values.yaml
Due: lint:helm-chart

add comment on secrets values file
  coog/values_secrets.yaml
Due: lint:helm-chart

Packaging 22.14.2236
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2236
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2236
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2236
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.36.2236
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2236
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2236
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog
