Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

Remove redis + flower and update dependencies (#26)
  coog/charts/redis-10.5.0.tgz
  coog/requirements.yaml
  coog/templates/batch/migquottosr_job.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/cron/service.yaml
  coog/templates/web/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

Packaging 2.12.2228
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2228
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2228
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2228
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2228
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.28.2228
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2228
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  flower/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

Packaging 2.12.2229
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2229
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2229
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2229
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2229
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2229
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.29.2229
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

update dependancies
  coog/charts/mongodb-10.30.12.tgz
  coog/charts/mongodb-7.14.1.tgz
  coog/charts/postgresql-10.15.1.tgz
  coog/charts/postgresql-8.9.6.tgz
  coog/charts/rabbitmq-7.6.8.tgz
  coog/charts/rabbitmq-8.26.3.tgz
  coog/charts/redis-10.5.0.tgz
  coog/charts/redis-16.0.0.tgz
  coog/requirements.lock
  coog/requirements.yaml
  coog/values.yaml
Due: lint:helm-chart

coog-helm-charts: Fix ingresses for k8s < 1.19 (coreye)
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

RMQ: disable volume persistence
  coog/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

delete deployment file
  coog/deployment.yaml
Due: lint:helm-chart

coog-helm-charts: Fix ingresses for k8s < 1.19 (coreye) (#46)
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

RMQ: disable volume persistence (#47)
  coog/values.yaml
Due: lint:helm-chart

coog-helm-charts: Fix ingresses for k8s < 1.19 (coreye) (#46)
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart
