Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "35b3a103"
  .gitlab-ci.yml
Due: synchronize:pipeline

create test_chart_values.yaml
  coog/test_chart_values.yaml
Due: lint:helm-chart

dnsPolicy: fix warning
  coog/values.yaml
Due: lint:helm-chart

Update ReadME
  README.md
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "77afe211"
  README.md
Due: synchronize:pipeline

fix all issues from helm template
  coog/templates/api-identity-manager/configmap.yaml
  coog/templates/api/deployment.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

upgrade external dependencies
  coog/Chart.lock
  coog/charts/mongodb-10.30.12.tgz
  coog/charts/mongodb-12.1.31.tgz
  coog/charts/postgresql-10.15.1.tgz
  coog/charts/postgresql-11.9.11.tgz
  coog/charts/rabbitmq-11.0.4.tgz
  coog/charts/rabbitmq-8.26.3.tgz
Due: none

fix ingress issue for kubernetes < 1.18
  coog/templates/_helpers.tpl
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/ingress.yaml
  coog/templates/static/ingress.yaml
Due: lint:helm-chart

GitLab: add helm test for specifics versions
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab: add messages
  .gitlab-ci.yml
Due: synchronize:pipeline

fix issue
  .gitlab-ci.yml
Due: synchronize:pipeline

helper: update version
  coog/templates/_helpers.tpl
Due: none

Branch: 22.14.2240-1 to remove conditionnal ingresses
  coog/Chart.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

allow to send chart to coreye
  .gitlab-ci.yml
Due: synchronize:pipeline

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: synchronize:pipeline

Generate README for charts with helm-docs
  coog/README.md
Due: none

Remove all extensions/v1beta1
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

Update coog/Chart.yaml
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update check "GitVersion" to "Version"
  coog/templates/_helpers.tpl
Due: none

static: Rollback ingress value
  coog/templates/static/ingress.yaml
Due: lint:helm-chart

apit_identity_manager: add variable MONGO_IDENTITY_DB_NAME
  coog/templates/api-identity-manager/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

complete comment
  coog/values.yaml
Due: lint:helm-chart

move MONGO_IDENTITY_DB_NAME in api
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

fix value path
  coog/templates/api/deployment.yaml
Due: lint:helm-chart

api: add variable MONGO_IDENTITY_DB_NAME (#56)
  coog/templates/api/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart
