Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

api: add variable MONGO_IDENTITY_DB_NAME (#56)
  coog/templates/api/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

GitLab: change rules order
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "fc226fba"
  .gitlab-ci.yml
Due: synchronize:pipeline

Packaging 2.14.2244
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2244
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2244
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2244
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate 2243
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

replace annotation kubernetes.io/ingress.class: nginx with ingressClassName: nginx
  coog/sample.yaml
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

fix syntax imagePullPolicy
  coog/Chart.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix claimname
  coog/Chart.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/deployment.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

rollback version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

add quote on configmap / secrets
  coog/templates/api-b2c/configmap.yaml
  coog/templates/api-b2c/secret.yaml
  coog/templates/api-identity-manager/configmap.yaml
  coog/templates/api-referential/configmap.yaml
  coog/templates/api/configmap.yaml
  coog/templates/celery/configmap.yaml
  coog/templates/configmap-backCore.yaml
  coog/templates/configmap-frontcore.yaml
  coog/templates/configmap-global.yaml
  coog/templates/configmap.yaml
  coog/templates/cron/configmap.yaml
  coog/templates/customer-backend/configmap.yaml
  coog/templates/customer-backend/secret.yaml
  coog/templates/customer-frontend/configmap.yaml
  coog/templates/customer-frontend/secret.yaml
  coog/templates/gateway/configmap.yaml
  coog/templates/gateway/secret.yaml
  coog/templates/maintenance/configmap.yaml
  coog/templates/secret-frontcore.yaml
  coog/templates/web/configmap.yaml
Due: lint:helm-chart

Add quotes on all configmap + secrets variables
  coog/templates/api/configmap.yaml
  coog/templates/celery/configmap.yaml
  coog/templates/configmap-backCore.yaml
  coog/templates/configmap-frontcore.yaml
  coog/templates/cron/configmap.yaml
  coog/templates/customer-backend/configmap.yaml
  coog/templates/customer-frontend/configmap.yaml
  coog/templates/gateway/configmap.yaml
  coog/templates/web/configmap.yaml
Due: lint:helm-chart

test
  coog/templates/static/deployment.yaml
Due: lint:helm-chart

fix
  coog/templates/static/deployment.yaml
Due: lint:helm-chart

test static
  coog/templates/static/deployment.yaml
Due: lint:helm-chart

Packaging 22.41.2245
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2245
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2245
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

manual update
  .gitlab-ci.yml
Due: synchronize:pipeline

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml
