Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, upload:helm-chart, upload:readme

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml
  upload:helm-chart: any of: **/Chart.yaml
  upload:readme: any of: **/Chart.yaml

Merge .gitlab-ci.yml from "0e7ec0d4"
  .gitlab-ci.yml
Due: synchronize:pipeline

coog: Generate chart 22.14.2218
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Generate README for charts with helm-docs
  coog/README.md
Due: none

coog: Update all pod name to have it in format "<chart name>-<directory name> (#22333)
  coog/templates/api-b2b-config/deployment.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/app-b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/paybox/deployment.yaml
  coog/templates/portal/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/unoconv/deployment.yaml
  coog/templates/web/deployment.yaml
Due: none

Ingress: Update apiVersion to work on Kubernetes 1.22+ (#21166)
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: none

Ingress: fix indentation
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: none

Ingress: due to our current ingress format, we have to hardcode pathType
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: none

Update README + autosynchronize README with others branchs coog-xx.xx
  .gitlab-ci.yml
  README.md
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "e271ffa5"
  .gitlab-ci.yml
  README.md
Due: synchronize:pipeline

Maintenance_mode: Enable maintenance_mode for environment
  coog/templates/coog/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/maintenance/deployment.yml
  coog/templates/maintenance/service.yml
  coog/templates/static/ingress.yaml
  coog/values.yaml
Due: none

Generate chart for test "coog-22.18.2219-maintenance"
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Generate chart for test "coog-22.19.2219-ingress"
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Generate Helm for test "coog-22.19.2219-name"
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Add custom image for error-pages + update chart version
  coog/Chart.yaml
  coog/values.yaml
Due: upload:helm-chart, upload:readme

add nodeSelector
  coog/values.yaml
Due: none

fix nodeSelector
  coog/templates/maintenance/deployment.yml
Due: none

Fix image
  coog/values.yaml
Due: none

fix port
  coog/templates/maintenance/deployment.yml
  coog/templates/maintenance/service.yml
Due: none

update port
  coog/templates/maintenance/service.yml
Due: none

move default-backend from labels to annotations
  coog/templates/coog/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: none

transform deployment to daemonset + configure limit and env variables
  coog/templates/maintenance/daemonset.yml
  coog/values.yaml
Due: none

update limit
  coog/values.yaml
Due: none

update ingress rules for nginx
  coog/templates/gateway/ingress.yaml
Due: none

Chart: set version to generate 22.20.2220
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Ingress: Update apiVersion to work on Kubernetes 1.22+ (#21166) (#28)
  coog/Chart.yaml
  coog/README.md
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: upload:helm-chart, upload:readme

Ingress: Update apiVersion to work on Kubernetes 1.22+ (#21166) (#28)
  coog/Chart.yaml
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: upload:helm-chart, upload:readme
