Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

create new section "backCore" + update all config + rework "frontCore" to have the same behavior + add configmap and secrets to celery and cron
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-b2c/secrets.yaml
  coog/templates/api-identity-manager/configmap.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-identity-manager/secret.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/configmap.yaml
  coog/templates/api/deployment.yaml
  coog/templates/api/secret.yaml
  coog/templates/celery/configmap.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/celery/secret.yaml
  coog/templates/configmap-backCore.yaml
  coog/templates/coog-pvc.yaml
  coog/templates/cron/configmap.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/cron/secret.yaml
  coog/templates/deployment.yaml
  coog/templates/gateway/configmap.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/gateway/secrets.yaml
  coog/templates/ingress.yaml
  coog/templates/secret-backCore.yaml
  coog/templates/static/deployment.yaml
  coog/templates/static/ingress.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

configmap apiIdentityManager fix miss configuration
  coog/templates/api-identity-manager/configmap.yaml
Due: lint:helm-chart

fix helm template
  coog/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

add global configmap + secret + move frontCore file to the root path + add if condition on secrets and configmap (test if we have to setup it or not)
  coog/deployment.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-b2c/secret.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api-referential/secret.yaml
  coog/templates/api/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/configmap-backCore.yaml
  coog/templates/configmap-frontcore.yaml
  coog/templates/configmap-global.yaml
  coog/templates/configmap.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-backend/secret.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/customer-frontend/secret.yaml
  coog/templates/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/secret.yaml
  coog/templates/secret-frontcore.yaml
  coog/templates/secret-global.yaml
  coog/templates/secret-mongodb.yaml
  coog/templates/secret.yaml
  coog/templates/web/deployment.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

move coog + celery + cron image configuration on backCore block
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

chart: bump resources requests
  coog/values.yaml
Due: lint:helm-chart

[22.14] #23190 : Add init containers for customer-frontend/backend (#45)
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

update requests values
  coog/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

Generate version 22.14.2236-1
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Remove rollingUpdate in quota's block + update value following adrien's review
  coog/sample.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

add managementMode for nginx whiteList
  coog/deployment.yaml
  coog/sample.yaml
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/values.yaml
Due: lint:helm-chart

add global configmap & secrets on all components
  coog/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/templates/static/deployment.yaml
Due: lint:helm-chart

Setup CORS configuration for backCore and gateway
  coog/templates/configmap-backCore.yaml
  coog/templates/gateway/configmap.yaml
Due: lint:helm-chart

fix CORS's variables indentation
  coog/templates/configmap-backCore.yaml
  coog/templates/gateway/configmap.yaml
Due: lint:helm-chart

fix cors behavior
  coog/sample.yaml
  coog/templates/configmap-backCore.yaml
  coog/templates/gateway/configmap.yaml
  coog/values.yaml
Due: lint:helm-chart

Fix start commands and env
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
Due: lint:helm-chart

setup default variable for customer front + set version to generate a chart for test
  coog/Chart.yaml
  coog/sample.yaml
  coog/templates/customer-frontend/configmap.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

remove cors configuration
  coog/sample.yaml
  coog/templates/configmap-backCore.yaml
  coog/templates/gateway/configmap.yaml
  coog/values.yaml
Due: lint:helm-chart

24162: fix bad configuration for customer frontend + backend + create secret variable for customerfrontend
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/customer-frontend/secrets.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

add empty line
  coog/templates/customer-frontend/secrets.yaml
Due: lint:helm-chart

fix secret name for GATSBY_GEOAPIFY_API_KEY
  coog/templates/customer-frontend/deployment.yaml
Due: lint:helm-chart

move if condition
  coog/templates/customer-frontend/deployment.yaml
Due: lint:helm-chart

fix bad configuration for customer frontend + backend + create secret variable for customerfrontend (#54)
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/customer-frontend/secrets.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

Packaging 2.14.2237
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2237
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2237
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2237
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2237
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.37.2237
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2237
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog
