Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "4f1c80ee"
  .gitlab/scripts/bash/package_helm_chart.bash
Due: none

Generate README for charts with helm-docs
  coog/README.md
Due: none

fix limit unoconv
  coog/values.yaml
Due: lint:helm-chart

GitLab: Add missing package
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "72ec258e"
  .gitlab-ci.yml
Due: synchronize:pipeline

Generate version 2240
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

add nginx rewrite-target on portal
  coog/templates/gateway/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

Packaging 2.12.2241
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2241
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2241
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2241
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2241
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2241
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2241
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none
