Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

maintenance_mode: update customhttperrors
  coog/values.yaml
Due: lint:helm-chart

Revert "maintenance_mode: update customhttperrors"
  coog/values.yaml
Due: lint:helm-chart

Packaging 22.14.2242
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2242
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2242
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2242
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2242
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.42.2242
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  flower/README.md
Due: none

Ingress: change name by port number
  coog/Chart.yaml
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

GitLab: Do not execute pipeline when REAME.md is updated
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab: target good readme
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "13ce1d92"
  .gitlab-ci.yml
Due: synchronize:pipeline

Ingress: replace port name by port number
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/ingress.yaml
  coog/templates/static/ingress.yaml
Due: lint:helm-chart

ingress: replace port name by port number for coog
  coog/templates/ingress.yaml
Due: lint:helm-chart

Ingress: change name by port number
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

update depencies version
  coog/Chart.yaml
  coog/values.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

configmap-BackCore: fix error
  coog/templates/configmap-backCore.yaml
Due: lint:helm-chart

GitLab: Add custom file to test all chart
  .gitlab-ci.yml
Due: synchronize:pipeline

coog: fix warnings
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/configmap-backCore.yaml
  coog/templates/configmap-frontcore.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/secret-backCore.yaml
  coog/templates/secret-frontcore.yaml
Due: lint:helm-chart

GitLab: Allow to test a file with full configuration enabled
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "35b3a103"
  .gitlab-ci.yml
Due: synchronize:pipeline
