Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, upload:helm-chart, upload:readme

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml
  upload:helm-chart: any of: **/Chart.yaml
  upload:readme: any of: **/Chart.yaml

add value for portal
  coog/values.yaml
Due: none

fix portal issue
  coog/templates/portal/ingress.yaml
Due: none

Maintenance_mode: Enable maintenance_mode for environment (#22456) (#29)
  coog/README.md
  coog/templates/coog/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/maintenance/daemonset.yml
  coog/templates/maintenance/service.yml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
  coog/values.yaml
Due: none

Generate 22.23.2223-name
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

RabbitMQ: Set sensitives credentials in secrets + remove variable TRYTOND_ASYNC__CELERY
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/coog/secrets.yaml
  coog/templates/cron/deployment.yaml
Due: none

change line order
  coog/templates/coog/secrets.yaml
Due: none

Re configure variable TRYTOND_ASYNC__CELERY
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/coog/secrets.yaml
  coog/templates/cron/deployment.yaml
Due: none

Put TRYTOND_ASYNC__CELERY before TRYTOND_ASYNC_CELERY
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
Due: none

cron: remove readiness check (#23468)
  coog/templates/cron/deployment.yaml
Due: none

cron: Remove readinessProbe against livenessProbe
  coog/templates/cron/deployment.yaml
Due: none

Add startupProbe
  coog/templates/cron/deployment.yaml
Due: none

Rollback version
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

cron: Replace readinessProbe with startupProbe (#36)
  coog/templates/cron/deployment.yaml
Due: none

GitLab: Add weekly auto build
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "2d36f6d2"
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab: Fix package
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "e6ba4861"
  .gitlab-ci.yml
Due: synchronize:pipeline

RabbitMQ: Set sensitives credentials in secrets (#35)
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/coog/secrets.yaml
  coog/templates/cron/deployment.yaml
Due: none

GitLab: fix pipeline + configure centralized scripts
  .gitlab-ci.yml
Due: synchronize:pipeline

Generate 22.14.2214
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

GitLab: fix pipeline
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "5b26a74c"
  .gitlab-ci.yml
Due: synchronize:pipeline
