Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "41476e84"
  .gitlab-ci.yml
  .gitlab/scripts/bash/package_helm_chart.bash
Due: synchronize:pipeline

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
Due: none

remove flower
  coog/requirements.yaml
  coog/values.yaml
  flower/.helmignore
  flower/Chart.yaml
  flower/README.md
  flower/templates/NOTES.txt
  flower/templates/_helpers.tpl
  flower/templates/deployment.yaml
  flower/templates/ingress.yaml
  flower/templates/service.yaml
  flower/templates/serviceaccount.yaml
  flower/templates/tests/test-connection.yaml
  flower/values.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

GitLab: Fix lint:helm-chart
  .gitlab-ci.yml
Due: synchronize:pipeline

Update changelog
  coog/CHANGELOG.md
Due: none

GitLab: Update check condition for Chart.yml
  .gitlab-ci.yml
  .gitlab/scripts/bash/package_helm_chart.bash
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "486412f5"
  .gitlab-ci.yml
  .gitlab/scripts/bash/package_helm_chart.bash
Due: synchronize:pipeline

Generate 22.25.2225rc1 for test
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

RMQ: fix TRYTOND_ASYNC__CELERY secret
  coog/templates/coog/secrets.yaml
Due: lint:helm-chart

GitLab: fix package error for directories which don't have Chart.yaml
  .gitlab/scripts/bash/package_helm_chart.bash
Due: none

Remove flower (#42)
  coog/CHANGELOG.md
  coog/requirements.yaml
  coog/values.yaml
  flower/.helmignore
  flower/Chart.yaml
  flower/README.md
  flower/templates/NOTES.txt
  flower/templates/_helpers.tpl
  flower/templates/deployment.yaml
  flower/templates/ingress.yaml
  flower/templates/service.yaml
  flower/templates/serviceaccount.yaml
  flower/templates/tests/test-connection.yaml
  flower/values.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

init
  coog/templates/pods-auto-update/cronjob.yaml
  coog/templates/pods-auto-update/role-binding.yaml
  coog/templates/pods-auto-update/role.yaml
  coog/templates/pods-auto-update/service-account.yaml
  coog/values.yaml
Due: lint:helm-chart

update
  coog/templates/deployment_restart/cronjob.yaml
  coog/templates/deployment_restart/role-binding.yaml
  coog/templates/deployment_restart/role.yaml
  coog/templates/deployment_restart/service-account.yaml
  coog/templates/pods-auto-update/cronjob.yaml
  coog/values.yaml
Due: lint:helm-chart

init
  coog/templates/deployment_restart/cronjob.yaml
  coog/templates/deployment_restart/role-binding.yaml
  coog/templates/deployment_restart/role.yaml
  coog/templates/deployment_restart/service-account.yaml
  coog/values.yaml
Due: lint:helm-chart

add empty lines
  coog/templates/deployment_restart/cronjob.yaml
  coog/templates/deployment_restart/role-binding.yaml
  coog/templates/deployment_restart/role.yaml
Due: lint:helm-chart

Flower: Delete last data
  coog/charts/flower-0.2.0.tgz
  coog/requirements.lock
Due: none

coog: Update all pod name to have it in format "<chart name>-<directo… (#27)
  coog/templates/api-b2b-config/deployment.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/app-b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/paybox/deployment.yaml
  coog/templates/portal/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/unoconv/deployment.yaml
  coog/templates/web/deployment.yaml
Due: lint:helm-chart

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml
