Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git:latest
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "${CI_SERVER_HOST}" >>~/.ssh/known_hosts
  - echo "${REPOSITORY_SSH_KEY}" >~/.ssh/id_rsa
  - chmod 400 ~/.ssh/id_rsa
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - apk add --no-cache curl yq jq git openssh-client
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H 'gitlab.com' >> ~/.ssh/known_hosts
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - apk add --no-cache git openssh-client
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  ...

libroconv: [22.14] Increase CPU limit to 300m (#39)
  coog/values.yaml
Due: lint:helm-chart

Manage kubernetes version for apiVersion
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

Generate test version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

GitLab: fix linter for PR
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab: Update rule for coreye:synchronize:coog. do not send charts from test branch
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab: do not update Readme on test branch
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "67648dd4"
  .gitlab-ci.yml
Due: synchronize:pipeline

cron: add setting of env variables from celery.BatchConfig
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

Add comment to rerun CI pipeline...
  coog/values.yaml
Due: lint:helm-chart

cron: add setting of env variables from celery.BatchConfig (#41)
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

cron: [22.14] add setting of env variables from celery.BatchConfig (#41)
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

Fix ingress
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

Generate README for charts with helm-docs
  coog/README.md
Due: none

fix
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

Manage apiVersion for ingress depending of kubernetes version (#40)
  coog/Chart.yaml
  coog/README.md
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate Chart package 22.25.2225 + update changelog
  coog/CHANGELOG.md
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Manage apiVersion for ingress depending of kubernetes version (#40)
  coog/CHANGELOG.md
  coog/README.md
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

Manage apiVersion for ingress depending of kubernetes version (#40)
  coog/CHANGELOG.md
  coog/README.md
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

GitLab: Do not create tags when generate a package from a test branch
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "b47bc8cc"
  .gitlab-ci.yml
Due: synchronize:pipeline

Gitlab: Lint syntax package:helm-chart
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "9c118f08"
  .gitlab-ci.yml
Due: synchronize:pipeline

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml
