Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

Packaging 22.41.2246
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2246
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2246
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2246
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2246
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.46.2246
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  flower/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
Due: none

update persistent volume + remove account for mongodb
  coog/templates/celery/deployment.yaml
  coog/templates/coog-pvc.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/deployment.yaml
  coog/templates/pvc.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

fix mongodb issue
  coog/values_secrets.yaml
Due: lint:helm-chart

chart : handle mongodb URI for replicatset
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/api/secrets.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/secrets.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

Helm template fully working
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/api/secrets.yaml
Due: lint:helm-chart

test storageclass
  coog/templates/pvc.yaml
  coog/templates/storageclass.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

add labels on storageClass
  coog/templates/storageclass.yaml
Due: lint:helm-chart

fix maintenance_mode
  coog/sample.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/values.yaml
Due: lint:helm-chart

fix kind for storage
  coog/templates/storageclass.yaml
Due: lint:helm-chart

complete setup existingClaim + add pv
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/deployment.yaml
  coog/templates/pv.yaml
  coog/templates/pvc.yaml
  coog/templates/storageclass.yaml
  coog/test_chart_values.yaml
Due: lint:helm-chart

add value
  coog/values.yaml
Due: lint:helm-chart

fix values path for volumes
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/deployment.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Update storages condition
  coog/templates/pv.yaml
  coog/templates/storageclass.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

add storageClass configuration on PV
  coog/templates/pv.yaml
Due: lint:helm-chart

update comments
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

update storageClass
  coog/templates/pv.yaml
  coog/templates/pvc.yaml
  coog/templates/storageclass.yaml
Due: lint:helm-chart

storageClass delete labels
  coog/templates/storageclass.yaml
Due: lint:helm-chart

move many file in coog directory
  coog/templates/coog/configmap.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/coog/job.yaml
  coog/templates/coog/pv.yaml
  coog/templates/coog/pvc.yaml
  coog/templates/coog/secret.yaml
  coog/templates/coog/service.yaml
  coog/templates/coog/storageclass.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

rework storageClassName
  coog/templates/_helpers.tpl
  coog/templates/coog/pv.yaml
  coog/templates/coog/pvc.yaml
  coog/test_chart_values.yaml
Due: lint:helm-chart

add pv managment for mongodb
  coog/templates/_helpers.tpl
  coog/templates/coog/pv.yaml
  coog/templates/pv-mongodb.yaml
  coog/values.yaml
Due: lint:helm-chart

update values
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

add mongodb.auth.uri
  coog/templates/configmap-frontcore.yaml
  coog/templates/secret-mongodb.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

add test
  coog/test_chart_values.yaml
Due: lint:helm-chart

setup front generated variables + fix host behavior
  coog/sample.yaml
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/_coog.tpl
  coog/templates/coog/configmap.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/configmap.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

update ingress hosts behavior
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/configmap-backcore.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/secret-backcore.yaml
  coog/templates/static/ingress.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

configure TRYTOND_WEB__CORS for multiple hosts
  coog/templates/coog/_coog.tpl
  coog/templates/coog/configmap.yaml
Due: lint:helm-chart

Packaging 22.41.2247
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

TRYTON_WEB__CORS add possibility to append with custom URLs
  coog/templates/coog/_coog.tpl
  coog/templates/coog/configmap.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Gitlab-Ci: add log
  .gitlab-ci.yml
Due: synchronize:pipeline

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml
