Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

GitLab: do not execute pipeline on tag
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "f0be2064"
  .gitlab-ci.yml
Due: synchronize:pipeline

comment variables
  coog/values.yaml
Due: lint:helm-chart

update name
  coog/values.yaml
Due: lint:helm-chart

disable default value
  coog/values.yaml
Due: lint:helm-chart

Maintenance page for coog (#37)
  coog/values.yaml
Due: lint:helm-chart

GitLab: Update rule to do not execute pipeline on tags
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "9134a2ac"
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab: Update trigger rule
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "58d7f111"
  .gitlab-ci.yml
Due: synchronize:pipeline

coog: Enable autoscaling, remove celery single
  coog/CHANGELOG.md
  coog/README.md
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
Due: lint:helm-chart

Fix requirements URL
  coog/requirements.yaml
Due: lint:helm-chart

libroconv: Increase CPU limit to 300m
  coog/values.yaml
Due: lint:helm-chart

coog: Enable autoscaling, remove celery single (#38)
  coog/CHANGELOG.md
  coog/README.md
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
Due: lint:helm-chart

coog: [22.14] Enable autoscaling, remove celery single (#38)
  coog/CHANGELOG.md
  coog/README.md
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
Due: lint:helm-chart

libroconv: Increase CPU limit to 300m (#39)
  coog/values.yaml
Due: lint:helm-chart
