Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, upload:helm-chart, upload:readme

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml
  upload:helm-chart: any of: **/Chart.yaml
  upload:readme: any of: **/Chart.yaml

Package 2.12.2204
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Celery: add default schedule value (#19293)
  coog/templates/celery/daily_cron.yaml
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

Package 2.10.2204
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Package 2.8.2204
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

allow failure on README update job
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "d5be56c3"
  .gitlab-ci.yml
Due: synchronize:pipeline

Gitlab-CI: Update pipeline
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "97579c8c"
  .gitlab-ci.yml
Due: synchronize:pipeline

Gitlab-CI : update pipeline rules
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "6e6b8cc4"
  .gitlab-ci.yml
Due: synchronize:pipeline

Gitlab-Ci: fix job dependance
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "b9f5408a"
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab-ci: fix git tag check
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "5774e3d1"
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab-CI: fix Git tag check
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "93977782"
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab-Ci: fix tag check
  .gitlab-ci.yml
Due: synchronize:pipeline
