Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

Trigger pipeline 2229.1
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Fix version semantics
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Fix bad cherry-pick
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Build a 22.29.2229-2 following bad cherry-picks
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

GitLab: fix rm path for coreye:synchronize:coog
  .gitlab-ci.yml
Due: synchronize:pipeline

Fix sem version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate 22.14.2229-2
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

GitLab: Coreye add ls command
  .gitlab-ci.yml
Due: synchronize:pipeline

save
  coog/templates/_helpers.tpl
  coog/templates/api-b2b-config/deployment.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/app-b2c/ingress.yaml
  coog/templates/batch/migquottosr_job.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/deployment.yaml
  coog/templates/web/ingress.yaml
  new/charts/mongodb-10.30.12.tgz
  new/charts/postgresql-10.15.1.tgz
  new/charts/rabbitmq-8.26.3.tgz
  new/coog/configmap.yaml
  new/deployment.yaml
  new/requirements.lock
  new/requirements.yaml
  new/templates/_helpers.tpl
  new/templates/coog/configmap.yaml
  new/templates/coog/coog-pvc.yaml
  new/templates/coog/deployment.yaml
  new/templates/coog/ingress.yaml
  new/templates/coog/quota.yaml
  new/templates/coog/secret-db.yml
  new/templates/coog/secrets.yaml
  new/templates/coog/service.yaml
  new/values.yaml
  new/values_secrets.yaml
Due: lint:helm-chart

GitLab: log on rm
  .gitlab-ci.yml
Due: synchronize:pipeline

Generate 2229-3
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "dffd8011"
  .gitlab-ci.yml
  .gitlab/scripts/bash/package_helm_chart.bash
Due: synchronize:pipeline

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml
