Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "0ffc53bf"
  .gitlab-ci.yml
Due: synchronize:pipeline

remove fail silently
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "7c3ea650"
  .gitlab-ci.yml
Due: synchronize:pipeline

Packaging 22.41.2248
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.48.2248
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

try to fix pipeline on schedule
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "e958223f"
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab-ci: update
  .gitlab-ci.yml
  .gitlab/.package.gitlab-ci.yml
  .gitlab/.synchronization.gitlab-ci.yml
  .gitlab/.weekly-build.gitlab-ci.yml
Due: synchronize:pipeline

GitLab-Ci: fix paths
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "98201dff"
  .gitlab-ci.yml
  .gitlab/.package.gitlab-ci.yml
  .gitlab/.synchronization.gitlab-ci.yml
  .gitlab/.weekly-build.gitlab-ci.yml
Due: synchronize:pipeline

GitLab: try to remove regex rule for test
  .gitlab/.weekly-build.gitlab-ci.yml
Due: none

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "ee951f7f"
  .gitlab/.weekly-build.gitlab-ci.yml
Due: none
