Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git:latest
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "${CI_SERVER_HOST}" >>~/.ssh/known_hosts
  - echo "${REPOSITORY_SSH_KEY}" >~/.ssh/id_rsa
  - chmod 400 ~/.ssh/id_rsa
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - apk add --no-cache curl yq jq git openssh-client
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H 'gitlab.com' >> ~/.ssh/known_hosts
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - apk add --no-cache git openssh-client
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  ...

GitLab: test
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "1a6567a8"
  .gitlab-ci.yml
Due: synchronize:pipeline

Gitlab: test
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "143ccd14"
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab: fix pipeline
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "61a44f20"
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "44871b4d"
  .gitlab-ci.yml
Due: synchronize:pipeline

Packaging 22.14.2225
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2225
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2225
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2225
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.25.2225
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.25.2225
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2225
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2225
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

Packaging 2.12.2225
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2225
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml
