Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md
  lint:helm-chart: any of: **/*.yaml
  package:helm-chart: any of: **/Chart.yaml
  update:readme: any of: **/Chart.yaml
  coreye:synchronize:coog: any of: **/Chart.yaml

coog: Update all pod name to have it in format "<chart name>-<directo… (#27)
  coog/templates/api-b2b-config/deployment.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/app-b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/paybox/deployment.yaml
  coog/templates/portal/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/unoconv/deployment.yaml
  coog/templates/web/deployment.yaml
Due: lint:helm-chart

coog: Update all pod name to have it in format "<chart name>-<directo… (#27)
  coog/CHANGELOG.md
  coog/templates/api-b2b-config/deployment.yaml
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/app-b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/paybox/deployment.yaml
  coog/templates/portal/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/unoconv/deployment.yaml
  coog/templates/web/deployment.yaml
Due: lint:helm-chart

Packaging 22.14.2226
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2226
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2226
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2226
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2226
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2226
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.26.2226
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  flower/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

Fix end
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
Due: lint:helm-chart

Fix end
  coog/templates/customer-backend/deployment.yaml
Due: lint:helm-chart

#23190 : Add init containers for customer-frontend/backend (#45)
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

update ingress automation
  coog/templates/_helpers.tpl
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/configmap.yaml
  coog/templates/coog/coog-pvc.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: lint:helm-chart

save
  coog/templates/_helpers.tpl
  coog/templates/coog/configmap.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/coog/secrets.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

cron: Replace readinessProbe with startupProbe (#36)
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

cron: Update config
  coog/templates/cron/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

Packaging 22.14.2227
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2227
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2227
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2227
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2227
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.10.2227
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.27.2227
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

save
  coog/requirements.yaml
  coog/templates/coog/configmap.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/coog/secrets.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

Generate version 22.27.2227-clean-redis
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

enable cron when celery is enabled
  coog/templates/cron/deployment.yaml
  coog/templates/cron/service.yaml
Due: lint:helm-chart

Remove redis + flower and update dependencies (#26)
  coog/charts/redis-10.5.0.tgz
  coog/requirements.yaml
  coog/templates/batch/migquottosr_job.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/cron/service.yaml
  coog/templates/web/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart
