Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, upload:helm-chart, upload:readme

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git:latest
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H "${CI_SERVER_HOST}" >>~/.ssh/known_hosts
  - echo "${REPOSITORY_SSH_KEY}" >~/.ssh/id_rsa
  - chmod 400 ~/.ssh/id_rsa
  ...

upload:helm-chart:
  stage: upload
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - apk add --no-cache curl yq jq git openssh-client
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H 'gitlab.com' >> ~/.ssh/known_hosts
  ...

upload:readme:
  stage: upload
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
    REPOSITORY_SSH_KEY: ${SSH_KEY}
  before_script:
  - apk add --no-cache python3 git openssh-client
  - go install github.com/norwoodj/helm-docs/cmd/helm-docs
  - pip install pre-commit
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  ...

Ingress: Update apiVersion to work on Kubernetes 1.22+ (#21166) (#28)
  coog/Chart.yaml
  coog/templates/app-b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/portal/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
Due: upload:helm-chart, upload:readme

Generate README for charts with helm-docs
  coog/README.md
Due: none

Add init containers for customer-frontend/backend
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
Due: none

Add resources values for init containers for customer-frontend/backend
  coog/values.yaml
Due: none

Fix initContainers resources
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
Due: none

Remove PORT var
  coog/templates/customer-backend/deployment.yaml
Due: none

Hardcode some nginx parameters for maintenance_mode
  coog/templates/coog/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/templates/web/ingress.yaml
  coog/values.yaml
Due: none

add empty line
  coog/templates/maintenance/service.yml
Due: none

Generate test version 22.21.2221-maintenance
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

cron: Add readinessProbe and livenessProbe management from values
  coog/templates/cron/deployment.yaml
  coog/values.yaml
Due: none

Generate chart 22.21.2221-cron_liveness
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Generate chart 22.21.2221-cron-liveness
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

requirements: fix gitlab repo ID
  coog/requirements.yaml
Due: none

GitLab: Update rules
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml REAMDME.md from "08b0110e"
  .gitlab-ci.yml
Due: synchronize:pipeline

Update coog/templates/customer-frontend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
Due: none

cron: change liveness and readiness probes to command
  coog/templates/cron/deployment.yaml
Due: none

cron: change liveness and readiness probes to command (#32)
  coog/templates/cron/deployment.yaml
Due: none

cron: [22.14] change liveness and readiness probes to command (#32)
  coog/templates/cron/deployment.yaml
Due: none

coog: Generate chart 22.14.2222
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Generate version 22.22.2222
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Generate version 22.14.2222
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Update coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
Due: none

cron: fix probes
  coog/templates/cron/deployment.yaml
Due: none

cron: fix probes (#34)
  coog/templates/cron/deployment.yaml
Due: none

cron: [22.14] fix probes (#34)
  coog/templates/cron/deployment.yaml
Due: none

Use runAsUser value, fix command
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
Due: none

add mode maintenance on portal
  coog/templates/portal/ingress.yaml
Due: none

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml
  upload:helm-chart: any of: **/Chart.yaml
  upload:readme: any of: **/Chart.yaml
