Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: synchronize:pipeline, upload:helm-chart, upload:readme

Path conditions:
  synchronize:pipeline: any of: .gitlab-ci.yml
  upload:helm-chart: any of: **/Chart.yaml
  upload:readme: any of: **/Chart.yaml

Merge .gitlab-ci.yml from "656703ae"
  .gitlab-ci.yml
Due: synchronize:pipeline

RMQ: change updateStrategyType from OnDelete to RollingUpdate + update limit CPU from 300 to 600m
  coog/Chart.yaml
  coog/README.md
  coog/values.yaml
Due: upload:helm-chart, upload:readme

RMQ: updateStrategyType to RollingUpdate + update timeout + utpdate...
  coog/Chart.yaml
  coog/README.md
  coog/values.yaml
Due: upload:helm-chart, upload:readme

GitLab-CI: update rules
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "d8caf912"
  .gitlab-ci.yml
Due: synchronize:pipeline

GitLab-CI: Update rule
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "a7f0d433"
  .gitlab-ci.yml
Due: synchronize:pipeline

Create environment for 22.14
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

Generate README for charts with helm-docs
  coog/README.md
Due: none

charts: Drop daily cron task & move it to the cron container
  coog/templates/celery/daily_cron.yaml
  coog/templates/cron/deployment.yaml
  coog/values.yaml
Due: none

Update deployment.yaml
  coog/templates/cron/deployment.yaml
Due: none

coog: Remove argument in start command
  coog/templates/coog/deployment.yaml
Due: none

master: Generate helm
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

charts: [22.14] Drop daily cron task & move it to the cron container
  coog/templates/celery/daily_cron.yaml
  coog/templates/cron/deployment.yaml
  coog/values.yaml
Due: none

customer_frontend: update memory values
  coog/values.yaml
Due: none

Remove redis + flower and update dependencies
  coog/charts/flower-0.2.0.tgz
  coog/charts/redis-10.5.0.tgz
  coog/requirements.yaml
  coog/templates/batch/migquottosr_job.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/web/deployment.yaml
  coog/values.yaml
  flower/.helmignore
  flower/Chart.yaml
  flower/README.md
  flower/templates/NOTES.txt
  flower/templates/_helpers.tpl
  flower/templates/deployment.yaml
  flower/templates/ingress.yaml
  flower/templates/service.yaml
  flower/templates/serviceaccount.yaml
  flower/templates/tests/test-connection.yaml
  flower/values.yaml
Due: upload:helm-chart, upload:readme

coog: Generate chart 22.18.2218
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

coog: Generate chart 22.14.2218
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

GitLab: Update rules
  .gitlab-ci.yml
Due: synchronize:pipeline

coog: Generate 22.14.2218
  coog/Chart.yaml
Due: upload:helm-chart, upload:readme

GitLab: update rules
  .gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml from "0e7ec0d4"
  .gitlab-ci.yml
Due: synchronize:pipeline
