Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

Packaging 22.14.2343
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update chart
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

update chart version
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update postresql chart to 13.1.5 + Update postresql 14.5.0 to 14.9.0 + update version's name
  coog/Chart.lock
  coog/Chart.yaml
  coog/charts/postgresql-11.9.11.tgz
  coog/charts/postgresql-13.1.5.tgz
  coog/test_chart_values.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

unittest: Remove tests on variable COOG_API_MONGODB_URI (old variables used by coog-web)
  coog/tests/secret-mongodb_test.yaml
Due: lint:helm-chart

force chart update
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix chart version
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update version
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update README
  README.md
Due: synchronize:pipeline

README: Fix version error
  README.md
Due: synchronize:pipeline

Remove kubeVersion
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.44.2344
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

fix global secret error on celery daily
  coog/templates/celery/cronjob.yaml
Due: lint:helm-chart

fix issue with global secret
  coog/templates/customer-backend/deployment.yaml
Due: lint:helm-chart

customer-backend: fix test following the last commit
  coog/tests/customer-backend/deployment_test.yaml
Due: lint:helm-chart

celery: fix test error following the last commit
  coog/tests/celery/cronjob_test.yaml
Due: lint:helm-chart

Generate a new version with fix on global secret
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog
