Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

Packaging 2.14.2626-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2626-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2626
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2626
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 25.14.2626
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 26.14.2626
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

coog-helm-chart: Add X-Forwarded-Host header
  coog/templates/virtualservice-istio.yaml
  coog/tests/istio/virtualservice_test.yaml
Due: lint:helm-chart

fix: Realign the JWT variables fix #PTANG-250
  coog/templates/gateway/secret.yaml
  coog/templates/secret-frontcore.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

coog-helm-chart: Add portal V2 changes (#169)
  coog/templates/_helpers.tpl
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/values.yaml
Due: lint:helm-chart

Remove unfeatured test 2.14
  coog/tests/b2c/deployment_test.yaml
Due: lint:helm-chart

coog-helm-chart: Add rabbitmq operator mode (#170)
  README.md
  coog/scripts/rotate-rabbitmq-user.sh
  coog/templates/_helpers.tpl
  coog/templates/rabbitmq-istio-destinationrule.yaml
  coog/templates/rabbitmq/permission.yaml
  coog/templates/rabbitmq/secret.yaml
  coog/templates/rabbitmq/user.yaml
  coog/templates/rabbitmq/vhost.yaml
  coog/templates/secret-backcore.yaml
  coog/test_chart_values.yaml
  coog/tests/rabbitmq/permission_test.yaml
  coog/tests/rabbitmq/secret_test.yaml
  coog/tests/rabbitmq/user_test.yaml
  coog/tests/rabbitmq/vhost_test.yaml
  coog/tests/secret-backcore_test.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart, synchronize:pipeline

Hotfix from commit 7c29b1d679 (merge typo)
  coog/templates/_helpers.tpl
Due: none

Chart coog-v2-2.14 2627
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 26.27.2627
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2627-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2627
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2627
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 25.14.2627
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 26.14.2627
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 26.28.2628
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2628-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2628-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2628
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2628
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 26.14.2628
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

coog-helm-chart: define TRYTOND_WEB__NUM_PROXIES
  coog/templates/configmap-backcore.yaml
Due: lint:helm-chart

coog-helm-chart: define TRYTOND_WEB__NUM_PROXIES (#176)
  coog/templates/configmap-backcore.yaml
Due: lint:helm-chart

coog-helm-chart: Add X-Forwarded-Host header (#174)
  coog/templates/virtualservice-istio.yaml
  coog/tests/istio/virtualservice_test.yaml
Due: lint:helm-chart

Packaging 26.29.2629
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2629-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2629
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2629-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2629
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog
