Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

build:helm-chart:
  stage: build
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

build:update:readme:
  stage: build
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

deploy:coreye:coog:
  stage: deploy
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

Update ingress behavior for Coreye + update values + update mongodb_uri behavior for ports + update unittest
  coog/templates/_helpers.tpl
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/test_chart_values.yaml
  coog/tests/secret-mongodb_test.yaml
  coog/values.yaml
Due: lint:helm-chart

Generate version 23.14.2314-dev.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

appVersion: remove double quote
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

mongodb: fix initscript issue
  coog/values.yaml
Due: lint:helm-chart

COOG_API_B2B_CONFIG_URL: add to fix gateway issue
  coog/templates/gateway/configmap.yaml
  coog/tests/gateway/configmap_test.yaml
Due: lint:helm-chart

fix secret issue
  coog/templates/api-identity-manager/secrets.yaml
Due: lint:helm-chart

Packaging 23.14.2314
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2314
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2314
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2314
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate 23.15.2315-dev.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Gateway: add COOG_WEB_TOKEN default value
  coog/templates/gateway/secret.yaml
  coog/tests/gateway/secret_test.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

gateway_tests; remove uneeded conditions
  coog/tests/gateway/secret_test.yaml
Due: lint:helm-chart

Generate 23.15.2315-dev-less-2214.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate 23.15.2315-dev.1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

gateway: remove condition for secrets
  coog/templates/gateway/deployment.yaml
  coog/tests/gateway/deployment_test.yaml
Due: lint:helm-chart

Generate 23.15.2315-dev.2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

update worker number
  coog/templates/celery/configmap.yaml
  coog/templates/coog/configmap.yaml
  coog/templates/cron/configmap.yaml
  coog/tests/celery/configmap_test.yaml
  coog/tests/coog/configmap_test.yaml
  coog/tests/cron/configmap_test.yaml
Due: lint:helm-chart

Generate 23.15.2315-dev-less-2214.2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate 23.15.2315-dev.3
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2315
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.15.2315
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2315
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
