Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

Generate README for charts with helm-docs
  coog/README.md
Due: none

Update chart version for coog-23.41
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.41.2341
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2341
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2341
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2341
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

update default id
  coog/values.yaml
Due: lint:helm-chart

Update default user ID
  coog/values.yaml
Due: lint:helm-chart

genereta 23.41.2341.1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix verison
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.42.2342
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2342
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2342
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2342
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update chart version from 12.0.4 to 12.2.5
  coog/Chart.lock
  coog/Chart.yaml
  coog/charts/rabbitmq-12.0.4.tgz
  coog/charts/rabbitmq-12.2.5.tgz
  coog/test_chart_values.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update RabbitMQ version dependency to 12.3.0
  coog/Chart.lock
  coog/Chart.yaml
  coog/charts/rabbitmq-11.0.4.tgz
  coog/charts/rabbitmq-12.2.5.tgz
  coog/charts/rabbitmq-12.3.0.tgz
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Move variables starting by TRYTOND_BATCH__ from backCore to celery
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Update RabbitMQ version dependency to 12.3.0
  coog/Chart.lock
  coog/Chart.yaml
  coog/charts/rabbitmq-12.2.5.tgz
  coog/charts/rabbitmq-12.3.0.tgz
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

web : remove component and tests
  coog/templates/api-identity-manager/configmap.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-identity-manager/secret.yaml
  coog/templates/api-identity-manager/service.yaml
  coog/templates/api/configmap.yaml
  coog/templates/api/deployment.yaml
  coog/templates/api/secret.yaml
  coog/templates/api/service.yaml
  coog/templates/configmap-frontcore.yaml
  coog/templates/gateway/configmap.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/gateway/secret.yaml
  coog/templates/gateway/service.yaml
  coog/templates/secret-frontcore.yaml
  coog/templates/secret-mongodb.yaml
  coog/templates/web/configmap.yaml
  coog/templates/web/deployment.yaml
  coog/templates/web/service.yaml
  coog/test_chart_values.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/configmap_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-identity-manager/secret_test.yaml
  coog/tests/api-identity-manager/service_test.yaml
  coog/tests/api/configmap_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/api/secret_test.yaml
  coog/tests/api/service_test.yaml
  coog/tests/configmap-frontcore_test.yaml
  coog/tests/gateway/configmap_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/gateway/ingress_test.yaml
  coog/tests/gateway/secret_test.yaml
  coog/tests/gateway/service_test.yaml
  coog/tests/secret-frontcore_test.yaml
  coog/tests/web/configmap_test.yaml
  coog/tests/web/deployment_test.yaml
  coog/tests/web/service_test.yaml
  coog/values.yaml
Due: lint:helm-chart

Update the Changelog
  coog/CHANGELOG.md
Due: none

web: Add ingress configuration for web component
  coog/CHANGELOG.md
  coog/templates/web/ingress.yaml
  coog/tests/web/ingress_test.yaml
  coog/values.yaml
Due: lint:helm-chart

RabbitMQ: Configure memoryHighWatermark
  coog/values.yaml
Due: lint:helm-chart

Revert "RabbitMQ: Configure memoryHighWatermark"
  coog/values.yaml
Due: lint:helm-chart

Packaging 23.14.2343
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.43.2343
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2343
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog
