Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

Packaging 23.14.2325
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2325
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2325
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2325
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

backCore: Configure default value + extra feature on TRYTOND_DATABASE_NAMES's variable
  coog/templates/_helpers.tpl
  coog/templates/configmap-backcore.yaml
  coog/test_chart_values.yaml
  coog/tests/configmap-backcore_test.yaml
  coog/values.yaml
Due: lint:helm-chart

Packaging 23.26.2326
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2326
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2326
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2326
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2326
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

cron: fix condition on deployment for cron's configmap
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

values: fix typo for mongodb password in comm
  coog/values.yaml
Due: lint:helm-chart

cron: fix condition on deployment for cron's configmap
  coog/templates/cron/configmap.yaml
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

Generate chart 23.27.2327-dev-less-2214.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate chart 23.27.2327-dev.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update rabbitmq 11.10.2 to 12.0.4
  coog/Chart.lock
  coog/Chart.yaml
  coog/charts/rabbitmq-11.10.2.tgz
  coog/charts/rabbitmq-12.0.4.tgz
  coog/test_chart_values.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update rabbitmq 11.10.2 to 12.0.4
  coog/Chart.lock
  coog/Chart.yaml
  coog/charts/rabbitmq-12.0.4.tgz
  coog/test_chart_values.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

unittest: fix cron check
  coog/tests/cron/deployment_test.yaml
Due: lint:helm-chart

cron: fix syntax
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

cron: fix syntax error
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

Packaging 23.14.2327
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.27.2327
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2327
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2327
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2327
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

cron: add missing condition on checksum for current component configmap
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

cron: add missing condition on checkum for current component
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart
