Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

build:helm-chart:
  stage: build
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

build:update:readme:
  stage: build
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

deploy:coreye:coog:
  stage: deploy
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

test: [2.14] add test for serviceaccount (#157)
  coog/tests/coog/deployment_test.yaml
Due: lint:helm-chart

chore: [2.14] add serviceaccount param and test fix #PTANG-457
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
Due: lint:helm-chart

chore: [26.14] add serviceaccount param and test fix #PTANG-457
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
Due: lint:helm-chart

test: [25.41] test serviceaccount for individuel client (#156)
  coog/templates/coog/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

test: [25.41] add test for serviceaccount (#157)
  coog/tests/coog/deployment_test.yaml
Due: lint:helm-chart

chore: [25.41] add serviceaccount param and test fix #PTANG-457
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
Due: lint:helm-chart

test: [25.14] test serviceaccount for individuel client (#156)
  coog/templates/coog/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

test: [25.14] add test for serviceaccount (#157)
  coog/tests/coog/deployment_test.yaml
Due: lint:helm-chart

chore: [25.14] add serviceaccount param and test fix #PTANG-457
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
Due: lint:helm-chart

test: [24.14] test serviceaccount for individuel client (#156)
  coog/templates/coog/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

test: [24.14] add test for serviceaccount (#157)
  coog/tests/coog/deployment_test.yaml
Due: lint:helm-chart

chore: [24.14] add serviceaccount param and test fix #PTANG-457
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
Due: lint:helm-chart

test: [24.41] test serviceaccount for individuel client (#156)
  coog/templates/coog/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

test: [24.41] add test for serviceaccount (#157)
  coog/tests/coog/deployment_test.yaml
Due: lint:helm-chart

chore: [24.41] add serviceaccount param and test fix #PTANG-457
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
Due: lint:helm-chart

coog-helm-chart: Add rabbitmq operator mode
  coog/templates/_helpers.tpl
  coog/templates/rabbitmq-istio-destinationrule.yaml
  coog/templates/rabbitmq/permission.yaml
  coog/templates/rabbitmq/secret.yaml
  coog/templates/rabbitmq/user.yaml
  coog/templates/rabbitmq/vhost.yaml
  coog/templates/secret-backcore.yaml
  coog/tests/rabbitmq/permission_test.yaml
  coog/tests/rabbitmq/secret_test.yaml
  coog/tests/rabbitmq/user_test.yaml
  coog/tests/rabbitmq/vhost_test.yaml
  coog/tests/secret-backcore_test.yaml
  coog/values.yaml
Due: lint:helm-chart

small iteration
  coog/templates/_helpers.tpl
  coog/tests/rabbitmq/secret_test.yaml
  coog/values.yaml
Due: lint:helm-chart

To generate test chart
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update readme
  README.md
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart, synchronize:pipeline

Documentation on user password rotation trouble using CRD
  README.md
  coog/scripts/rotate-rabbitmq-user.sh
  coog/values_secrets.yaml
Due: lint:helm-chart, synchronize:pipeline

Packaging 26.18.2618
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2618-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2618-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2618
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2618
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 25.14.2618
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 26.19.2619
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2619-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2619-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2619
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2619
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 25.14.2619
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

coog-helm-chart: Fix LOG_LEVEL declaration from configmap
  coog/templates/configmap-backcore.yaml
  coog/templates/coog/deployment.yaml
  coog/tests/configmap-backcore_test.yaml
  coog/tests/coog/deployment_test.yaml
Due: lint:helm-chart

coog-helm-chart: Fix LOG_LEVEL declaration from configmap (#171)
  coog/templates/configmap-backcore.yaml
  coog/templates/coog/deployment.yaml
  coog/tests/configmap-backcore_test.yaml
  coog/tests/coog/deployment_test.yaml
Due: lint:helm-chart

chore: add new variable shorted name fix #PTANG-450
  coog/templates/coog/pv.yaml
  coog/tests/coog/pv_test.yaml
Due: lint:helm-chart

chore: add workspace.io in the name fix #PTANG-450
  coog/templates/coog/pv.yaml
Due: lint:helm-chart

chore: update test for pv fix #PTANG-450
  coog/tests/coog/pv_test.yaml
Due: lint:helm-chart

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
