Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

build:helm-chart:
  stage: build
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

build:update:readme:
  stage: build
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

deploy:coreye:coog:
  stage: deploy
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

Fix syntax issue on customer-backend and customer-frontend
  coog/CHANGELOG.md
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
Due: lint:helm-chart

Generate 2348-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

setup paybox
  coog/Chart.yaml
  coog/templates/paybox/configmap.yaml
  coog/templates/paybox/deployment.yaml
  coog/templates/paybox/ingress.yaml
  coog/templates/paybox/secret.yaml
  coog/templates/paybox/service.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

paybox: add default configuration
  coog/Chart.yaml
  coog/templates/paybox/configmap.yaml
  coog/templates/paybox/deployment.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix
  coog/templates/paybox/configmap.yaml
Due: lint:helm-chart

fix syntax
  coog/Chart.yaml
  coog/templates/paybox/deployment.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Manage variables for migration tools
  coog/CHANGELOG.md
  coog/templates/configmap-backcore.yaml
  coog/templates/secret-backcore.yaml
  coog/test_chart_values.yaml
  coog/tests/configmap-backcore_test.yaml
  coog/tests/secret-backcore_test.yaml
  coog/values.yaml
Due: lint:helm-chart

enable migrator on test_chart_values
  coog/test_chart_values.yaml
Due: lint:helm-chart

Replace comma with new line for cors
  coog/Chart.yaml
  coog/templates/coog/_coog.tpl
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update README
  README.md
Due: synchronize:pipeline

rollback chart version
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Replace comma with new line for cors (#61)
  coog/templates/coog/_coog.tpl
Due: none

coog-api: COOG_DOCUMENT_TOKEN_SECRET variable added to the coog-api component
  coog/CHANGELOG.md
  coog/templates/api/deployment.yaml
Due: lint:helm-chart

coog-api: COOG_DOCUMENT_TOKEN_SECRET variable added to the coog-api component (#62)
  coog/CHANGELOG.md
  coog/templates/api/deployment.yaml
Due: lint:helm-chart

Packaging 22.14.2349-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2349
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2349-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.41.2349
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.49.2349
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

generate version 23.49.2349-1 for Coreye
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate version for Coreye
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Add manual configuration for TRYTOND_MIGRATION__USER and TRYTOND_MIGRATION__PASSWORD
  coog/templates/secret-backcore.yaml
  coog/tests/secret-backcore_test.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

Update changelog
  coog/CHANGELOG.md
Due: none

Packaging 2.14.2350-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2350
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.50.2350
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.41.2350
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

changelog: update version
  coog/CHANGELOG.md
Due: none

Manage variables for migration tools (#60)
  coog/CHANGELOG.md
  coog/templates/configmap-backcore.yaml
  coog/templates/secret-backcore.yaml
  coog/test_chart_values.yaml
  coog/tests/configmap-backcore_test.yaml
  coog/tests/secret-backcore_test.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
