Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

helm unittest: Add check on deployments for configmaps, secrets and checksums
  coog/tests/api-b2c/configmap_test.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-b2c/secret_test.yaml
  coog/tests/api-identity-manager/configmap_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-identity-manager/secret_test.yaml
  coog/tests/api-referential/configmap_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api-referential/secret_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/api/secret_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/celery/secret_test.yaml
  coog/tests/coog/deployment_test.yaml
  coog/tests/cron/configmap_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/customer-frontend/secret_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
  coog/tests/maintenance/configmap_test.yaml
  coog/tests/maintenance/daemonset.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/web/deployment_test.yaml
Due: lint:helm-chart

helm unittest: Add check on deployments for configmaps, secrets and checksums
  coog/tests/api-b2c/configmap_test.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-b2c/secret_test.yaml
  coog/tests/api-identity-manager/configmap_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-identity-manager/secret_test.yaml
  coog/tests/api-referential/configmap_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api-referential/secret_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/api/secret_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/celery/secret_test.yaml
  coog/tests/coog/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/customer-frontend/secret_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
  coog/tests/maintenance/configmap_test.yaml
  coog/tests/maintenance/daemonset.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/web/deployment_test.yaml
Due: lint:helm-chart

helm unittest: add extraEnvVar for cron
  coog/tests/cron/deployment_test.yaml
Due: lint:helm-chart

Redis: Remove dependency
  coog/CHANGELOG.md
  coog/README.md
  coog/requirements.yaml
  coog/templates/batch/migquottosr_job.yaml
  coog/templates/celery/daily_cron.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/celery/single.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/web/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

Packaging 23.28.2328
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2328
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2328
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2328
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Packaging 23.29.2329
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2329
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2329
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2329
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Remove default value for TRYTOND_DOCUMENT_API__DOCUMENT_TOKEN_SECRET
  coog/templates/_helpers.tpl
  coog/templates/api-b2c/deployment.yaml
  coog/templates/secret-backcore.yaml
  coog/tests/secret-backcore_test.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

Remove default value for TRYTOND_DOCUMENT_API__DOCUMENT_TOKEN_EXPIRATION_MINUTES
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Update LOG_LEVEL default value to warning and for the variable on INFO for the initContainers (coog)
  coog/templates/coog/_coog.tpl
  coog/templates/coog/configmap.yaml
  coog/templates/coog/deployment.yaml
  coog/values.yaml
Due: lint:helm-chart

fix behavior for LOG_LEVEL + add unit test
  coog/templates/configmap-backcore.yaml
  coog/templates/coog/configmap.yaml
  coog/templates/coog/deployment.yaml
  coog/tests/configmap-backcore_test.yaml
  coog/tests/coog/deployment_test.yaml
Due: lint:helm-chart

Move securityContext from containers to pods + update runAsUser from 1003 to 1000 + add runAsGroup = 1000 which were present but not applied + Update tests
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
  coog/test_chart_values.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/coog/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/web/deployment_test.yaml
  coog/values.yaml
Due: lint:helm-chart

Move securityContext from containers to pods + update runAsUser from 1003 to 1000 + add runAsGroup = 1000 which were present but not applied + Update tests
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/cronjob.yaml
  coog/templates/celery/deployment-single.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
  coog/test_chart_values.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/cronjob_test.yaml
  coog/tests/celery/deployment-single_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/coog/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/libroconv/deployment_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/web/deployment_test.yaml
  coog/values.yaml
Due: lint:helm-chart

fix unit tests errors
  coog/tests/celery/deployment_test.yaml
  coog/tests/coog/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
Due: lint:helm-chart

Generate chart 23.30.2330-dev.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate Chart 23.30.2330-dev-less-2214.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

add TRYTOND_BATCH__ROOT_DIR in default configuration
  coog/values.yaml
Due: lint:helm-chart

Update default values
  coog/templates/configmap-backcore.yaml
  coog/values.yaml
Due: lint:helm-chart

Fix test error
  coog/tests/configmap-backcore_test.yaml
Due: lint:helm-chart

Packaging 23.30.2330
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog
