Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

add /doc path to coog ingress
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
  coog/values.yaml
Due: lint:helm-chart

Packaging 25.44.2544
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

PTANG-272 : switch ingress/sao to coog and remove from static FIX #PTANG-272
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
  coog/values.yaml
Due: lint:helm-chart

delete static config
  README.md
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: lint:helm-chart, synchronize:pipeline

delete tests and default path
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
Due: lint:helm-chart

delete default path
  coog/values.yaml
Due: lint:helm-chart

PTANG-272 : Create an ingress specifically for Sao
  coog/templates/gateway/ingress_sao.yaml
  coog/values.yaml
Due: lint:helm-chart

fix the ingress sao name
  coog/templates/gateway/ingress_sao.yaml
Due: lint:helm-chart

fix ingress sao template and add ingress sao test
  coog/templates/coog/ingress_sao.yaml
  coog/tests/coog/ingress_sao_test.yaml
Due: lint:helm-chart

delete sao path into ingress_test
  coog/tests/coog/ingress_test.yaml
Due: lint:helm-chart

add ingressSao to test_chart_values
  coog/test_chart_values.yaml
Due: lint:helm-chart

PTANG-272 : (coog 24.14) Static mutualization (#112)
  README.md
  coog/Chart.yaml
  coog/templates/coog/ingress_sao.yaml
  coog/templates/static/deployment.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

PTANG-272 : (coog 24.41) Static mutualization (#111)
  README.md
  coog/Chart.yaml
  coog/templates/coog/ingress_sao.yaml
  coog/templates/static/deployment.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

PTANG-272 : (coog 25.14) Static mutualization (#110)
  README.md
  coog/Chart.yaml
  coog/templates/coog/ingress_sao.yaml
  coog/templates/static/deployment.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

PTANG-272 : (coog 25.41) Static mutualization (#109)
  README.md
  coog/Chart.yaml
  coog/templates/coog/ingress_sao.yaml
  coog/templates/static/deployment.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

PTANG-272 : (coog v2 22.14) Static mutualization (#113)
  README.md
  coog/Chart.yaml
  coog/templates/coog/ingress_sao.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

PTANG-272 : (coog v2 2.14) Static mutualization (#114)
  README.md
  coog/Chart.yaml
  coog/templates/coog/ingress_sao.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Packaging 25.45.2545
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2545-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2545-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2545
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

PTANG-272 : switch ingress/sao to coog and remove from static (#107)
  README.md
  coog/templates/coog/ingress_sao.yaml
  coog/templates/static/deployment.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: lint:helm-chart, synchronize:pipeline

PTANG-308: Add variable FIX #PTANG-308
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

fix variable
  coog/test_chart_values.yaml
Due: lint:helm-chart

PTANG-308: Add variable (#115)
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

PTANG-308: Add variable (#116)
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Packaging 25.46.2546
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2546
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2546-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

PTANG-272 : fix tests and delete static references FIX #PTANG-272
  coog/templates/static/deployment.yaml
  coog/templates/static/ingress.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/static/ingress_test.yaml
  coog/values.yaml
Due: lint:helm-chart

PTANG-272 : delete static references FIX #PTANG-272
  coog/templates/static/deployment.yaml
  coog/tests/static/deployment_test.yaml
Due: lint:helm-chart

fix version
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

PTANG-272: delete static reference and fix tests FIX #PTANG-272
  coog/templates/static/ingress.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/static/ingress_test.yaml
  coog/values.yaml
Due: lint:helm-chart

PTANG-272: delete static reference and fix tests (#119)
  coog/templates/static/deployment.yaml
  coog/templates/static/ingress.yaml
  coog/tests/coog/ingress_sao_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/static/ingress_test.yaml
  coog/values.yaml
Due: lint:helm-chart

PTANG-272 : delete static references (#118)
  coog/templates/static/deployment.yaml
  coog/tests/static/deployment_test.yaml
Due: lint:helm-chart
