Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

build:helm-chart:
  stage: build
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

build:update:readme:
  stage: build
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

deploy:coreye:coog:
  stage: deploy
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

Packaging 2.14.2546-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2547
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 25.14.2547
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2547-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

add README.md test modif
  README.md
Due: synchronize:pipeline

Add README.md'
  README.md
Due: synchronize:pipeline

PTANG-294 : Change libroconv endpoint required for saas FIX #PTANG-294
  coog/templates/configmap-backcore.yaml
  coog/values.yaml
Due: lint:helm-chart

delete if libroconv.enabled
  coog/templates/configmap-backcore.yaml
Due: lint:helm-chart

desable libroconv by default
  coog/values.yaml
Due: lint:helm-chart

fix
  coog/values.yaml
Due: lint:helm-chart

libroconv helper and configmap
  coog/templates/_helpers.tpl
  coog/templates/configmap-backcore.yaml
Due: lint:helm-chart

fix indent
  coog/templates/configmap-backcore.yaml
Due: lint:helm-chart

last line
  coog/templates/_helpers.tpl
Due: none

Version with istio
  coog/templates/b2b/authorizationpolicy-istio.yaml
  coog/templates/b2c/authorizationpolicy-istio.yaml
  coog/templates/coog/_coog.tpl
  coog/templates/coog/authorizationpolicy-istio.yaml
  coog/templates/customer-backend/authorizationpolicy-istio.yaml
  coog/templates/customer-frontend/authorizationpolicy-istio.yaml
  coog/templates/gateway-istio.yaml
  coog/templates/gateway/_gateway.tpl
  coog/templates/gateway/authorizationpolicy-istio.yaml
  coog/templates/peerauthentication-istio.yaml
  coog/templates/virtualservice-istio.yaml
  coog/values.yaml
Due: lint:helm-chart

Remove service celery & cron + add annotation proxy injection
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/celery/service.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/cron/service.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
Due: lint:helm-chart

Packaging 25.47.2547
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2547-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2547
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate chart poc with istio
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Test passing
  coog/templates/coog/_coog.tpl
  coog/templates/gateway/_gateway.tpl
  coog/tests/celery/service_test.yaml
  coog/tests/cron/service_test.yaml
  coog/tests/gateway/configmap_test.yaml
Due: lint:helm-chart

Remove istio from chart name
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Revert "Remove istio from chart name"
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Add certificate
  coog/templates/gateway-istio-certificate.yaml
  coog/templates/gateway-istio.yaml
  coog/values.yaml
Due: lint:helm-chart

Bump chart version
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Add groupname
  coog/templates/gateway-istio-certificate.yaml
  coog/values.yaml
Due: lint:helm-chart

Fix charts
  coog/templates/b2b/authorizationpolicy-istio.yaml
  coog/templates/b2c/authorizationpolicy-istio.yaml
  coog/templates/coog/authorizationpolicy-istio.yaml
  coog/templates/customer-backend/authorizationpolicy-istio.yaml
  coog/templates/customer-frontend/authorizationpolicy-istio.yaml
  coog/templates/gateway/authorizationpolicy-istio.yaml
  coog/templates/virtualservice-istio.yaml
Due: lint:helm-chart

generate V3
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Fix istio certificate and virtual services
  coog/templates/gateway-istio-certificate.yaml
  coog/templates/virtualservice-istio.yaml
  coog/values.yaml
Due: lint:helm-chart

chart istio v4
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Add internalCIDR + move injection to label + fix virtualservice matchin order
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/authorizationpolicy-istio.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/authorizationpolicy-istio.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/authorizationpolicy-istio.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/authorizationpolicy-istio.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/authorizationpolicy-istio.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/authorizationpolicy-istio.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/templates/virtualservice-istio.yaml
  coog/values.yaml
Due: lint:helm-chart

chart istio v5
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Add some tests for istio + fix global ip
  coog/templates/b2b/authorizationpolicy-istio.yaml
  coog/templates/b2c/authorizationpolicy-istio.yaml
  coog/templates/coog/authorizationpolicy-istio.yaml
  coog/templates/customer-backend/authorizationpolicy-istio.yaml
  coog/templates/customer-frontend/authorizationpolicy-istio.yaml
  coog/templates/gateway/authorizationpolicy-istio.yaml
  coog/tests/istio/authorizationpolicy_test.yaml
  coog/tests/istio/certificate_test.yaml
  coog/tests/istio/gateway_test.yaml
  coog/tests/istio/peerauthentication_test.yaml
  coog/tests/istio/sidecar-injection_test.yaml
  coog/tests/istio/virtualservice_test.yaml
Due: lint:helm-chart

Remove comments
  coog/tests/istio/gateway_test.yaml
  coog/tests/istio/peerauthentication_test.yaml
  coog/tests/istio/sidecar-injection_test.yaml
  coog/tests/istio/virtualservice_test.yaml
Due: lint:helm-chart

Chart V6 istio
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

PTANG-294 : fix helpers
  coog/templates/_helpers.tpl
Due: none

coog-24.14.2537-2
  coog/Chart.yaml
  coog/templates/celery/deployment.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Remove from tests
  coog/tests/celery/deployment_test.yaml
Due: lint:helm-chart

coog-helm-chart: remove ressources at pod spec
  coog/templates/celery/deployment.yaml
Due: lint:helm-chart

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
