Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

Packaging 24.14.2512
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

chore(PTANG-33): update mcpu on coog
  coog/values.yaml
Due: lint:helm-chart

fix(PTANG-33): add resources management on celery at containers leve… (#80)
  coog/templates/celery/deployment.yaml
  coog/test_chart_values.yaml
  coog/tests/celery/deployment_test.yaml
  coog/values.yaml
Due: lint:helm-chart

Packaging 22.14.2513-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2513-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 25.13.2513
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2513
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2513
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

coog-helm-chart: Fix pathtype for K8S 1.30+ with nginx ingress controller
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/tests/b2b/ingress_test.yaml
  coog/tests/b2c/ingress_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/customer-backend/ingress_test.yaml
  coog/tests/customer-frontend/ingress_test.yaml
  coog/tests/gateway/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
Due: lint:helm-chart

coog-helm-chart: Fix pathtype for K8S 1.30+ with nginx ingress controller (#83)
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/tests/b2b/ingress_test.yaml
  coog/tests/b2c/ingress_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/customer-backend/ingress_test.yaml
  coog/tests/customer-frontend/ingress_test.yaml
  coog/tests/gateway/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
Due: lint:helm-chart

coog-helm-chart: Fix pathtype for K8S 1.30+ with nginx ingress controller (#84)
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/tests/b2b/ingress_test.yaml
  coog/tests/b2c/ingress_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/customer-backend/ingress_test.yaml
  coog/tests/customer-frontend/ingress_test.yaml
  coog/tests/gateway/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
Due: lint:helm-chart

coog-helm-chart: Fix pathtype for K8S 1.30+ with nginx ingress controller (#85)
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/tests/b2b/ingress_test.yaml
  coog/tests/b2c/ingress_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/customer-backend/ingress_test.yaml
  coog/tests/customer-frontend/ingress_test.yaml
  coog/tests/gateway/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
Due: lint:helm-chart

coog-helm-chart: Fix pathtype for K8S 1.30+ with nginx ingress controller (#86)
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/tests/b2b/ingress_test.yaml
  coog/tests/b2c/ingress_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/customer-backend/ingress_test.yaml
  coog/tests/customer-frontend/ingress_test.yaml
  coog/tests/gateway/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
Due: lint:helm-chart

coog-helm-chart: Fix pathtype for K8S 1.30+ with nginx ingress controller (#87)
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/tests/b2b/ingress_test.yaml
  coog/tests/b2c/ingress_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/customer-backend/ingress_test.yaml
  coog/tests/customer-frontend/ingress_test.yaml
  coog/tests/gateway/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
Due: lint:helm-chart

coog-helm-chart: Fix pathtype for K8S 1.30+ with nginx ingress controller (#88)
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/tests/b2b/ingress_test.yaml
  coog/tests/b2c/ingress_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/customer-backend/ingress_test.yaml
  coog/tests/customer-frontend/ingress_test.yaml
  coog/tests/gateway/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
Due: lint:helm-chart

Packaging 25.13.2513-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 25.41.2513-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2513-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2513-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2513-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Packaging 2.14.2513-v2-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2513-paybox-v2-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2513-v2-1
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2514-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 25.14.2514
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2514-v2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.14.2514
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 24.41.2514
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

ajout des variable default cors, TRYTOND_AUTHENTICATION_SAML__COOPENGO et TRYTOND_SSL__CERTIFICATE
  coog/values.yaml
Due: lint:helm-chart

white spaces
  coog/values.yaml
Due: lint:helm-chart

feat(PTANG-48): Implemented podDisruptionBudget with unit test (#82)
  coog/templates/api-b2c/pod-disruption-budget.yaml
  coog/templates/api-identity-manager/pod-disruption-budget.yaml
  coog/templates/api-referential/pod-disruption-budget.yaml
  coog/templates/api/pod-disruption-budget.yaml
  coog/templates/b2b/pod-disruption-budget.yaml
  coog/templates/b2c/pod-disruption-budget.yaml
  coog/templates/celery/pod-disruption-budget.yaml
  coog/templates/coog/pod-disruption-budget.yaml
  coog/templates/cron/pod-disruption-budget.yaml
  coog/templates/customer-backend/pod-disruption-budget.yaml
  coog/templates/customer-frontend/pod-disruption-budget.yaml
  coog/templates/gateway/pod-disruption-budget.yaml
  coog/templates/libroconv/pod-disruption-budget.yaml
  coog/templates/maintenance/pod-disruption-budget.yaml
  coog/templates/static/pod-disruption-budget.yaml
  coog/test_chart_values.yaml
  coog/tests/api-b2c/pod-disruption-budget_test.yaml
  coog/tests/api-identity-manager/pod-disruption-budget_test.yaml
  coog/tests/api-referential/pod-disruption-budget_test.yaml
  coog/tests/api/pod-disruption-budget_test.yaml
  coog/tests/b2b/pod-disruption-budget_test.yaml
  coog/tests/b2c/pod-disruption-budget_test.yaml
  coog/tests/celery/pod-disruption-budget_test.yaml
  coog/tests/coog/pod-disruption-budget_test.yaml
  coog/tests/cron/pod-disruption-budget_test.yaml
  coog/tests/customer-backend/pod-disruption-budget_test.yaml
  coog/tests/customer-frontend/pod-disruption-budget_test.yaml
  coog/tests/gateway/pod-disruption-budget_test.yaml
  coog/tests/libroconv/pod-disruption-budget_test.yaml
  coog/tests/maintenance/pod-disruption-budget_test.yaml
  coog/tests/static/pod-disruption-budget_test.yaml
  coog/values.yaml
Due: lint:helm-chart

variabilisation des urls cors
  coog/values.yaml
Due: lint:helm-chart
