Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

build:helm-chart:
  stage: build
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

build:update:readme:
  stage: build
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

deploy:coreye:coog:
  stage: deploy
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

Generate README for charts with helm-docs
  coog/README.md
Due: none

Packaging 23.35.2335
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2335
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2335
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2335
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Remove Global configmap & secret for libroconv and static
  coog/templates/libroconv/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/tests/libroconv/deployment_test.yaml
  coog/tests/static/deployment_test.yaml
Due: lint:helm-chart

Generate version 23.35.2335
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

set TRYTOND_DEBUG__DISABLE_SYNTAX_ANALYSIS on coog
  coog/values.yaml
Due: lint:helm-chart

update test_chart_values.yaml
  coog/test_chart_values.yaml
Due: lint:helm-chart

Packaging 23.36.2336
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2336
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2336
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2336
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Update JWT_ENCRYPTION + JWT_INTERNAL_ENCRYPTION + JWT_EXPIRATION
  coog/Chart.yaml
  coog/templates/gateway/secret.yaml
  coog/templates/secret-frontcore.yaml
  coog/templates/secret-global.yaml
  coog/test_chart_values.yaml
  coog/tests/gateway/secret_test.yaml
  coog/tests/secret-frontcore_test.yaml
  coog/tests/secret-global_test.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix issue
  coog/templates/celery/cronjob.yaml
  coog/templates/celery/deployment-single.yaml
Due: lint:helm-chart

fix
  coog/templates/celery/deployment-single.yaml
Due: lint:helm-chart

fix tests
  coog/templates/celery/cronjob.yaml
  coog/tests/celery/cronjob_test.yaml
  coog/tests/celery/deployment-single_test.yaml
Due: lint:helm-chart

fix test error
  coog/test_chart_values.yaml
Due: lint:helm-chart

fix global secret
  coog/Chart.yaml
  coog/templates/secret-global.yaml
  coog/tests/secret-global_test.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Revert "fix global secret"
  coog/Chart.yaml
  coog/templates/secret-global.yaml
  coog/tests/secret-global_test.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Define new variable with default value
  coog/values.yaml
Due: lint:helm-chart

tmp fix
  coog/Chart.yaml
  coog/templates/secret-global.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

disable lint:unittest:coog
  .gitlab/.build.gitlab-ci.yml
  .gitlab/.linter.gitlab-ci.yml
Due: synchronize:pipeline

tmp fix
  coog/templates/secret-global.yaml
Due: lint:helm-chart

Revert "tmp fix"
  coog/templates/secret-global.yaml
Due: lint:helm-chart

Revert "tmp fix"
  coog/Chart.yaml
  coog/templates/secret-global.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

GitLab: centralize GitLab pipeline
  .gitlab-ci.yml
  .gitlab/.build.gitlab-ci.yml
  .gitlab/.linter.gitlab-ci.yml
  .gitlab/.main.gitlab-ci.yml
  .gitlab/.weekly-build.gitlab-ci.yml
Due: synchronize:pipeline

GitLab: Centralize pipeline
  .gitlab-ci.yml
Due: synchronize:pipeline

Fix issue for global-secrets + update tests
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b-config/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment-single.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/templates/web/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment-single_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/coog/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/maintenance/daemonset.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/web/deployment_test.yaml
Due: lint:helm-chart

Fix issue for global-secrets + update tests
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/templates/web/deployment.yaml
  coog/tests/api-b2c/deployment_test.yaml
  coog/tests/api-identity-manager/deployment_test.yaml
  coog/tests/api-referential/deployment_test.yaml
  coog/tests/api/deployment_test.yaml
  coog/tests/b2b/deployment_test.yaml
  coog/tests/b2c/deployment_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/coog/deployment_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/customer-backend/deployment_test.yaml
  coog/tests/customer-frontend/deployment_test.yaml
  coog/tests/gateway/deployment_test.yaml
  coog/tests/maintenance/daemonset.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/web/deployment_test.yaml
Due: lint:helm-chart

Update chart version -> 23.37.2337-dev.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

update chart version -> 23.37.2337-dev-less-2214.0
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.37.2337
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.14.2337
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2337
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
