Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

build:helm-chart:
  stage: build
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

build:update:readme:
  stage: build
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

deploy:coreye:coog:
  stage: deploy
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

PTANG-272 : Create an ingress specifically for Sao
  coog/templates/gateway/ingress_sao.yaml
  coog/values.yaml
Due: lint:helm-chart

fix the ingress sao name
  coog/templates/gateway/ingress_sao.yaml
Due: lint:helm-chart

fix ingress sao template and add ingress sao test
  coog/templates/coog/ingress_sao.yaml
  coog/tests/coog/ingress_sao_test.yaml
Due: lint:helm-chart

delete sao path into ingress_test
  coog/tests/coog/ingress_test.yaml
Due: lint:helm-chart

add ingressSao to test_chart_values
  coog/test_chart_values.yaml
Due: lint:helm-chart

add /doc path to coog ingress
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
  coog/values.yaml
Due: lint:helm-chart

PTANG-272 : switch ingress/sao to coog and remove from static FIX #PTANG-272
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
  coog/values.yaml
Due: lint:helm-chart

delete static config
  README.md
  coog/templates/static/deployment.yaml
  coog/templates/static/ingress.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/deployment_test.yaml
  coog/tests/static/ingress_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: lint:helm-chart, synchronize:pipeline

delete tests and default path
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
Due: lint:helm-chart

delete default path
  coog/values.yaml
Due: lint:helm-chart

Packaging 25.44.2544
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

delete static config
  README.md
  coog/templates/static/ingress.yaml
  coog/templates/static/service.yaml
  coog/test_chart_values.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/static/ingress_test.yaml
  coog/tests/static/service_test.yaml
  coog/values.yaml
Due: lint:helm-chart, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
