Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  build:helm-chart: any of: **/Chart.{yaml,yml}
  build:update:readme: any of: **/Chart.{yaml,yml}
  deploy:coreye:coog: any of: **/Chart.{yaml,yml}
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

coog-helm-chart: remove ressources at pod spec
  coog/templates/celery/deployment.yaml
Due: lint:helm-chart

helm chart: remove tests
  coog/tests/celery/deployment_test.yaml
Due: lint:helm-chart

coog-24.41.2537-2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

PTANG-316 : Add env vars FIX #PTANG-316
  coog/templates/coog/configmap.yaml
  coog/templates/gateway/configmap.yaml
  coog/values.yaml
Due: lint:helm-chart

coog-25.14.2537-2
  coog/Chart.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Add comments + disable istio by default
  coog/Chart.yaml
  coog/values.yaml
Due: build:helm-chart, build:update:readme, deploy:coreye:coog, lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

delete vars env into backCore
  coog/templates/coog/configmap.yaml
  coog/templates/gateway/configmap.yaml
  coog/test_chart_values.yaml
  coog/tests/gateway/configmap_test.yaml
  coog/values.yaml
Due: lint:helm-chart

Add tests and fix helpers
  coog/templates/_helpers.tpl
  coog/tests/configmap-backcore_test.yaml
Due: lint:helm-chart

Fix white space
  coog/tests/configmap-backcore_test.yaml
Due: lint:helm-chart

PTANG-294 : Change libroconv endpoint required for saas FIX #PTANG-294
  coog/templates/configmap-backcore.yaml
  coog/values.yaml
Due: lint:helm-chart

delete if libroconv.enabled
  coog/templates/configmap-backcore.yaml
Due: lint:helm-chart

desable libroconv by default
  coog/values.yaml
Due: lint:helm-chart

fix
  coog/values.yaml
Due: lint:helm-chart

libroconv helper and configmap
  coog/templates/_helpers.tpl
  coog/templates/configmap-backcore.yaml
Due: lint:helm-chart

fix indent
  coog/templates/configmap-backcore.yaml
Due: lint:helm-chart

last line
  coog/templates/_helpers.tpl
Due: none

PTANG-294 : fix helpers
  coog/templates/_helpers.tpl
Due: none
