Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

Update apiVersion for batch (compatibility to kubernetes 1.25+)
  coog/templates/batch/migquottosr_job.yaml
  coog/templates/celery/daily_cron.yaml
Due: lint:helm-chart

Remove Ingress compatibility for kubernetes < 1.21
  README.md
  coog/templates/_helpers.tpl
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/coog/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
  coog/tests/ingress_global_test.yaml
Due: lint:helm-chart, synchronize:pipeline

fix port for TRYTOND_ASYNC__CELERY
  coog/templates/secret-backcore.yaml
  coog/values.yaml
Due: lint:helm-chart

complete test_chart_values
  coog/test_chart_values.yaml
Due: lint:helm-chart

Packaging 22.41.2311
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.11.2311
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2311
  coog/Chart.yaml
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2311
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2311
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

unittest are over
  coog/templates/maintenance/daemonset.yaml
  coog/templates/quota.yaml
  coog/templates/secret-backcore.yaml
  coog/templates/secret-mongodb.yaml
  coog/templates/web/configmap.yaml
  coog/templates/web/deployment.yaml
  coog/templates/web/secret.yaml
  coog/test_chart_values.yaml
  coog/tests/configmap-backcore_test.yaml
  coog/tests/configmap-frontcore_test.yaml
  coog/tests/configmap-global_test.yaml
  coog/tests/maintenance/configmap_test.yaml
  coog/tests/maintenance/daemonset.yaml
  coog/tests/maintenance/service_test.yaml
  coog/tests/pv-mongodb_test.yaml
  coog/tests/quota_test.yaml
  coog/tests/secret-backcore_test.yaml
  coog/tests/secret-docker-registry_test.yaml
  coog/tests/secret-frontcore_test.yaml
  coog/tests/secret-global_test.yaml
  coog/tests/secret-mongodb_test.yaml
  coog/tests/secret-postgresql_test.yaml
  coog/tests/web/configmap_test.yaml
  coog/tests/web/deployment_test.yaml
  coog/tests/web/service_test.yaml
  coog/values.yaml
Due: lint:helm-chart

configure cron tests
  coog/templates/cron/configmap.yaml
  coog/templates/cron/deployment.yaml
  coog/test_chart_values.yaml
  coog/tests/cron/configmap_test.yaml
  coog/tests/cron/deployment_test.yaml
  coog/tests/cron/secret_test.yaml
  coog/tests/cron/service_test.yaml
  coog/values.yaml
Due: lint:helm-chart

add missing tests
  coog/tests/celery/configmap_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/coog/configmap_test.yaml
  coog/tests/coog/secret_test.yaml
Due: lint:helm-chart

Update Readme + unittest for this chart version
  README.md
  coog/templates/celery/cronjob.yaml
  coog/templates/celery/deployment-single.yaml
  coog/tests/celery/cronjob_test.yaml
  coog/tests/celery/deployment-single_test.yaml
  coog/tests/cron/configmap_test.yaml
  coog/tests/cron/secret_test.yaml
  coog/tests/cron/service_test.yaml
Due: lint:helm-chart, synchronize:pipeline

GitLab: Update jobs
  .gitlab-ci.yml
  .gitlab/.build.gitlab-ci.yml
  .gitlab/.linter.gitlab-ci.yml
  .gitlab/.main.gitlab-ci.yml
  .gitlab/scripts/bash/package_helm_chart.bash
  coog/Chart.lock
  coog/charts/rabbitmq-11.0.4.tgz
  coog/charts/rabbitmq-11.10.2.tgz
Due: synchronize:pipeline

fix for test
  .gitlab-ci.yml
Due: synchronize:pipeline

fix rules
  .gitlab/.build.gitlab-ci.yml
  .gitlab/.main.gitlab-ci.yml
Due: synchronize:pipeline

Update ReadMe
  README.md
Due: synchronize:pipeline

update gitlab
  .gitlab/.build.gitlab-ci.yml
  .gitlab/.main.gitlab-ci.yml
  .gitlab/.weekly-build.gitlab-ci.yml
Due: synchronize:pipeline

update
  .gitlab/.main.gitlab-ci.yml
Due: synchronize:pipeline

update rules
  .gitlab/.linter.gitlab-ci.yml
  .gitlab/.main.gitlab-ci.yml
Due: synchronize:pipeline

fix command
  .gitlab/.linter.gitlab-ci.yml
Due: synchronize:pipeline

test
  .gitlab/.linter.gitlab-ci.yml
Due: synchronize:pipeline

add option --color for helm unittest
  .gitlab/.linter.gitlab-ci.yml
Due: synchronize:pipeline

Generate new version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate version+ update gitlab pipeline
  .gitlab-ci.yml
  .gitlab/scripts/bash/package_helm_chart.bash
  coog/Chart.yaml
Due: package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

update readme
  README.md
Due: synchronize:pipeline

Path conditions:
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
