Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "5f187468"
  .gitlab/.weekly-build.gitlab-ci.yml
Due: synchronize:pipeline

Packaging 22.14.2247
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.47.2247
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2247
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2247
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2247
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2247
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

change mongo-db secret name
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/secret-mongodb.yaml
Due: lint:helm-chart

Add mongodb initdbScripts
  coog/values.yaml
Due: lint:helm-chart

fix customer backend database name (now it's automatic)
  coog/templates/customer-backend/configmap.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Fix bad ingress Service Name
  coog/templates/b2b/ingress.yaml
  coog/templates/b2c/ingress.yaml
  coog/templates/customer-backend/ingress.yaml
  coog/templates/customer-frontend/ingress.yaml
  coog/templates/gateway/ingress.yaml
  coog/templates/static/ingress.yaml
Due: lint:helm-chart

update comment for secret.token.generator
  coog/templates/_helpers.tpl
Due: none

delete whitespace in secret.token.generator
  coog/templates/_helpers.tpl
Due: none

Update ChangeLog
  coog/CHANGELOG.md
Due: none

fix namespace
  coog/templates/_helpers.tpl
  coog/templates/secret-backcore.yaml
  coog/templates/secret-global.yaml
Due: lint:helm-chart

try fix token generator issue
  coog/templates/_helpers.tpl
  coog/templates/secret-backcore.yaml
  coog/templates/secret-global.yaml
Due: lint:helm-chart

test gen token
  coog/templates/secret-global.yaml
Due: lint:helm-chart

test token
  coog/templates/secret-global.yaml
Due: lint:helm-chart

test fix token
  coog/templates/_helpers.tpl
  coog/templates/secret-global.yaml
Due: lint:helm-chart

decode token
  coog/templates/_helpers.tpl
Due: none

fix b64dec
  coog/templates/_helpers.tpl
Due: none

move b64dec
  coog/templates/_helpers.tpl
Due: none

auto generate COOG_DOCUMENT_TOKEN_SECRET if not set
  coog/templates/secret-global.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

Packaging 22.48.2248
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2248
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2248
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2248
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2248
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  flower/README.md
Due: none

Setup auto generation of URI for MongoDB
  coog/templates/_helpers.tpl
  coog/templates/configmap-frontcore.yaml
  coog/templates/coog/configmap.yaml
  coog/templates/secret-mongodb.yaml
  coog/templates/web/configmap.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart
