Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

coog-helm-chart : Handle mongodb URI for replicatset (#57)
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-identity-manager/secrets.yaml
  coog/templates/api/deployment.yaml
  coog/templates/api/secrets.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/secrets.yaml
  coog/templates/web/deployment.yaml
  coog/templates/web/secret.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

remove duplicates
  coog/templates/web/deployment.yaml
Due: lint:helm-chart

Generate chart 23.08.2308.1
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate chart 22.41.2308.1
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate chart 22.14.2308.1
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate chart 2.14.2308.1
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate chart 2.12.2308.1
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate chart 2.10.2308.1
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

mongodb_uri: fix issue
  coog/Chart.yaml
  coog/templates/gateway/secrets.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

mongodb_uri: test fix
  coog/Chart.yaml
  coog/templates/gateway/secrets.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 23.09.2309
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2309
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2309
  coog/Chart.yaml
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2309
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2309
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

complete README
  README.md
Due: synchronize:pipeline

complete readme
  README.md
Due: synchronize:pipeline

create b2b-config
  coog/templates/b2b-config/configmap.yaml
  coog/templates/b2b-config/deployment.yaml
  coog/templates/b2b-config/service.yaml
  coog/values.yaml
Due: lint:helm-chart

update cron component for version
  coog/templates/cron/configmap.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/cron/secret.yaml
  coog/templates/cron/service.yaml
  coog/values.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

add conditionals on checksum annotations
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
Due: lint:helm-chart
