Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

add conditionals on checksum annotations
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
Due: lint:helm-chart

update b2b-config
  coog/templates/b2b-config/configmap.yaml
  coog/templates/b2b-config/deployment.yaml
  coog/templates/b2b-config/service.yaml
Due: lint:helm-chart

Update RabbitMQ chart version from 11.0.4 to 11.10.2
  coog/Chart.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

move coogCeleryModule from cron to celery
  coog/templates/celery/deployment.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

fix error
  coog/templates/b2b-config/configmap.yaml
Due: lint:helm-chart

Setup celery cronJob
  coog/templates/celery/configmap.yaml
  coog/templates/celery/cronjob.yaml
  coog/values.yaml
Due: lint:helm-chart

update claimName
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

update indentation
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b-config/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
Due: lint:helm-chart

Setup celery-single
  coog/templates/celery/deployment-single.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Update indentation
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
Due: lint:helm-chart

generate version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Remove duplicate variable
  coog/values.yaml
Due: lint:helm-chart

Remove InitContainer for coog check
  coog/templates/celery/deployment.yaml
  coog/templates/cron/deployment.yaml
Due: lint:helm-chart

backup unittest
  coog/tests/celery/deployment_test.yaml
  coog/tests/coog/configmap_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/coog/job_test.yaml
Due: lint:helm-chart

update pod name for coog
  coog/templates/_helpers.tpl
  coog/templates/coog/deployment.yaml
  coog/tests/coog/configmap_test.yaml
  coog/tests/coog/deployment_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/coog/job_test.yaml
  coog/tests/coog/service_test.yaml
Due: lint:helm-chart

add unit tests
  coog/tests/celery/configmap_test.yaml
  coog/tests/celery/deployment_test.yaml
  coog/tests/coog/secret_test.yaml
Due: lint:helm-chart

fix mongodb_uri when configuration not set
  coog/Chart.yaml
  coog/templates/api-identity-manager/secrets.yaml
  coog/templates/api/secrets.yaml
  coog/templates/gateway/secrets.yaml
  coog/templates/web/secret.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix gateway issue
  coog/templates/gateway/secrets.yaml
Due: lint:helm-chart

Generate README for charts with helm-docs
  coog/README.md
Due: none

GitLab: fix rule for web
  .gitlab/.package.gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "5394d33e"
  .gitlab/.package.gitlab-ci.yml
Due: synchronize:pipeline

Path conditions:
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
