Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

lint:helm-chart:
  stage: lint
  image:
    name: alpine/helm
    entrypoint:
    - ''
  script:
  ...

package:helm-chart:
  stage: package
  image:
    name: alpine/helm
    entrypoint:
    - ''
  variables:
    INSTALL_ADDITIONAL_PACKAGES: curl yq jq bash
  before_script:
  - - .git_with_ssh:alpine
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  ...

update:readme:
  stage: update
  image: golang:alpine
  variables:
    GO111MODULE: 'on'
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:alpine
    - before_script
  ...

coreye:synchronize:coog:
  stage: coreye
  image: bitnami/git
  variables:
    REPOSITORY_SSH_KEY: ${SSH_KEY}
    INSTALL_ADDITIONAL_PACKAGES: curl
  before_script:
  - "if [ \"$HELM_NEW_CHART\" != \"true\" ]; then\n  echo \"Charts didn't change, nothing to update\"\n  exit 0\nfi"
  - - .git_with_ssh:debian
    - before_script
  script:
  ...

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git
  before_script:
  - - .git_with_ssh:debian
    - before_script
  - git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git
  - git fetch --all
  script:
  ...

test
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

test format
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

enable log
  .gitlab/scripts/bash/package_helm_chart.bash
Due: synchronize:pipeline

Packaging 23.07.2307
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2307
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2307
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2307
  coog/Chart.yaml
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2307
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
Due: none

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

Define conditions to avoid values_secrets.yaml
  coog/Chart.yaml
  coog/templates/_helpers.tpl
  coog/templates/api-b2c/deployment.yaml
  coog/templates/api-b2c/secret.yaml
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-identity-manager/secret.yaml
  coog/templates/api-referential/deployment.yaml
  coog/templates/api-referential/secret.yaml
  coog/templates/api/deployment.yaml
  coog/templates/api/secret.yaml
  coog/templates/b2b/deployment.yaml
  coog/templates/b2c/deployment.yaml
  coog/templates/celery/deployment.yaml
  coog/templates/celery/secret.yaml
  coog/templates/coog/deployment.yaml
  coog/templates/coog/secret.yaml
  coog/templates/cron/deployment.yaml
  coog/templates/cron/secret.yaml
  coog/templates/customer-backend/deployment.yaml
  coog/templates/customer-backend/secret.yaml
  coog/templates/customer-frontend/deployment.yaml
  coog/templates/customer-frontend/secret.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/secret.yaml
  coog/templates/libroconv/deployment.yaml
  coog/templates/maintenance/daemonset.yaml
  coog/templates/secret-backcore.yaml
  coog/templates/secret-docker-registry.yaml
  coog/templates/secret-frontcore.yaml
  coog/templates/secret-global.yaml
  coog/templates/static/deployment.yaml
  coog/templates/web/deployment.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Create first test for charts
  .gitignore
  coog/.helmignore
  coog/tests/README.md
  coog/tests/coog/deployment_test.yaml
  coog/tests/coog/service_test.yaml
  coog/values.yaml
Due: lint:helm-chart

update test_chart_values.yaml
  coog/test_chart_values.yaml
Due: lint:helm-chart

Packaging 23.08.2308
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2308
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2308
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2308
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2308
  coog/Chart.yaml
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

save firsts tests
  coog/tests/coog/deployment_test.yaml
  coog/tests/coog/ingress_test.yaml
  coog/tests/coog/service_test.yaml
  coog/tests/ingress_global_test.yaml
Due: lint:helm-chart

format
  coog/tests/coog/ingress_test.yaml
Due: lint:helm-chart

Revert "mongodb_uri is auto generated by default"
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api/deployment.yaml
  coog/templates/api/secrets.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/secrets.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

add mongodb_uri on coog-web
  coog/templates/web/deployment.yaml
  coog/templates/web/secret.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

add missing end
  coog/templates/web/secret.yaml
Due: lint:helm-chart

mongodb_uri: remove old configuration
  coog/templates/secret-mongodb.yaml
  coog/values.yaml
Due: lint:helm-chart

add replicasetName configuration
  coog/CHANGELOG.md
  coog/templates/_helpers.tpl
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

add unit test
  coog/templates/coog/job.yaml
  coog/tests/coog/configmap_test.yaml
  coog/tests/coog/job_test.yaml
Due: lint:helm-chart

create specific variable mongodb_uri for api-identity-mannager
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-identity-manager/secrets.yaml
  coog/templates/api/secrets.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

change missing conditions for api_identity_manager
  coog/templates/api-identity-manager/deployment.yaml
Due: lint:helm-chart

coog-helm-chart : Handle mongodb URI for replicatset (#57)
  coog/templates/api-identity-manager/deployment.yaml
  coog/templates/api-identity-manager/secrets.yaml
  coog/templates/api/deployment.yaml
  coog/templates/api/secrets.yaml
  coog/templates/gateway/deployment.yaml
  coog/templates/gateway/secrets.yaml
  coog/templates/web/deployment.yaml
  coog/templates/web/secret.yaml
  coog/values_secrets.yaml
Due: lint:helm-chart

Path conditions:
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*
