Repository coopengo/coog-helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog, synchronize:pipeline

Path conditions:
  lint:helm-chart: (not (any of: .gitlab/**/*.{yml,yaml}, .gitlab-ci.{yml,yaml})) and (any of: **/*.{yaml,yml})
  package:helm-chart: any of: **/Chart.{yaml,yml}
  update:readme: any of: **/Chart.{yaml,yml}
  coreye:synchronize:coog: any of: **/Chart.{yaml,yml}
  synchronize:pipeline: any of: .gitlab-ci.yml, README.md, .gitlab/**/*

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "5394d33e"
  .gitlab/.package.gitlab-ci.yml
Due: synchronize:pipeline

GitLab: Update rules order
  .gitlab/.package.gitlab-ci.yml
Due: synchronize:pipeline

Merge .gitlab-ci.yml, REAMDME.md and .gitlab/ from "f5ab45b2"
  .gitlab/.package.gitlab-ci.yml
Due: synchronize:pipeline

Generate README for charts with helm-docs
  coog/README.md
Due: none

fix path for cronJob configuration
  coog/Chart.yaml
  coog/templates/celery/cronjob.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Fix bad behavior when persistent volume already exists
  coog/templates/coog/pvc.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Generate new version
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

fix maximumMemory issue
  coog/templates/celery/configmap.yaml
  coog/test_chart_values.yaml
  coog/values.yaml
Due: lint:helm-chart

Generate version with maximumMemory fix
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

celery: enable single by default
  coog/values.yaml
Due: lint:helm-chart

celery: remove initContainer for single
  coog/Chart.yaml
  coog/templates/celery/deployment-single.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

celery: fix match selector
  coog/Chart.yaml
  coog/templates/celery/deployment-single.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

celery-single: add mandatory variable "TRYTOND_CONCURRENCY_CONTRACT_INVOICE_BULK___SET___NUMBER"
  coog/templates/celery/deployment-single.yaml
Due: lint:helm-chart

Packaging 23.10.2310
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.41.2310
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.14.2310
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 2.12.2310
  coog/Chart.yaml
  flower/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Packaging 22.14.2310
  coog/Chart.yaml
Due: lint:helm-chart, package:helm-chart, update:readme, coreye:synchronize:coog

Generate README for charts with helm-docs
  coog/README.md
  flower/README.md
Due: none

Update apiVersion for batch (compatibility to kubernetes 1.25+)
  coog/templates/batch/migquottosr_job.yaml
Due: lint:helm-chart

Update apiVersion for batch (compatibility to kubernetes 1.25+)
  coog/templates/batch/migquottosr_job.yaml
  coog/templates/celery/daily_cron.yaml
Due: lint:helm-chart
